- content_for :cta do
  - if current_agent.operateur?
    = btn name: "Je soumets le projet au demandeur pour dépôt", href: dossier_proposer_path(@projet_courant), class: 'proposal'
= render 'projets/projet_proposition'
