- content_for :cta do
  - if current_agent.operateur?
    = btn name: "Proposer le projet au demandeur", href: dossier_proposer_path(@projet_courant), class: 'proposal'
= render 'projets/projet_proposition'
