- content_for :cta do
  - if current_agent.operateur?
    = link_to "Proposer le projet au demandeur", dossier_proposer_path(@projet_courant), class: "btn proposal"
= render 'projets/projet_proposition'
