p Ce dossier est dans la catégorie : Non Éligible a réevaluer,
p êtes vous sur de vouloir déclarer ce dossier éligible ?
= btn name: t('projets.visualisation.rendre_eligible_projet'), href:  dossier_confirm_eligibility_path(@projet_courant), icon: 'edit'
