br
.eligibility
  - if ENV['ELIGIBLE_HMA'] == "true" && @projet_courant.hma.present?
  - else
    div.col-md-12
        h2 Avant de déposer ma demande d'aide
        div.editorialsanstitre
          h2.transmission-subtitle J’atteste :
          ul.transmission-list
            li ne pas avoir commencé les travaux avant de déposer la présente demande auprès de l’Anah,
            li que je n’ai pas acheté mon logement à un organisme HLM depuis moins de cinq ans,

          h2.transmission-subtitle Je m’engage à :
          ul.transmission-list
            li <strong>commencer les travaux dans un délai de un an</strong> suivant la date d’attribution de l’aide,
            li faire réaliser les travaux par des entreprises du bâtiment ayant une activité déclarée en rapport avec les travaux effectués (<strong>pose et fourniture des matériaux et équipements réalisés par ces dernières</strong>), sauf en cas d’auto-réhabilitation accompagnée par un opérateur spécialisé,
            li <strong> terminer les travaux</strong> et présenter ma <strong>demande de paiement du solde </strong>de l’aide <strong>dans le délai de trois ans</strong> suivant la date d’attribution de l’aide, 
            li <strong>occuper mon logement amélioré pendant au moins 6 ans à titre de résidence principale</strong> suivant la date de réception par l’Anah de la demande de paiement du solde de l’aide.
              <div class="col-md-6">
                <ul class="transmission-list">
                  <li class="no-before"> • Si vous n’occupez pas encore le logement amélioré, vous avez jusqu’à un an suivant la demande de solde pour y entrer. </li>
                  <li class="no-before"> • Si vous supportez la charge des travaux mais n’occupez pas le logement amélioré, l’obligation d’occuper au moins six ans le logement à compter de la demande de solde pèse sur les occupants propriétaires ou sur le ménage modeste que vous hébergez à titre gratuit. </li>
                </ul>
              </div>
            li pendant cette période de  <strong>six ans</strong>, informer l’Anah par écrit et dans les deux mois de toute <strong>modification du droit de propriété</strong> du logement amélioré (vente, mutation etc.) ou de ses conditions d’occupation (transformation en bureau, résidence secondaire, mise en location etc…),
            li lorsque le projet comporte des <strong>travaux d’amélioration de la performance énergétique </strong>:
              <div class="col-md-6">
                  <br>
                  Pour la prime <strong class="green"> Habiter Mieux sérenité</strong> :
                  <ul class="transmission-list">
                    <li class="no-before">• exiger de chaque entreprise ou professionnel réalisant les travaux qu’il fournisse une <strong>attestation d’exclusivité</strong> (Cerfa n° 15 347) permettant la valorisation des <strong>CEE</strong> exclusivement par l’Anah, qui a eu un rôle actif et incitatif dans la réalisation du projet de travaux subventionné (ces attestations devront être obligatoirement fournies à l’Anah pour obtenir le paiement de l’aide), 
                    <li class="no-before">• <strong>ne pas signer de document similaire</strong> permettant la valorisation des <strong>CEE</strong> par un autre acteur (entreprise de travaux, fournisseur de matériaux, établissements de crédit etc.), sous peine de retrait de l’aide et de reversement des sommes déjà perçues,
                  </ul>
                   Pour <strong class="green">Habiter Mieux agilité</strong>, recourir à des entreprises qualifiées « <strong>RGE</strong> » (Reconnues Garantes de l’Environnement) pour effectuer les travaux.
              </div>


          h2.transmission-subtitle Je reconnais être informé(e) que :
          ul.transmission-list
            li l’Anah peut effectuer des <strong>contrôles</strong> (visite du logement, notamment pour vérifier la nature des travaux et la réalisation effective de ceux-ci, demande d’informations complémentaires, vérification de l’occupation du logement …) pendant les six ans de période obligatoire d’occupation du logement,
            li <strong>en cas de non-respect de ces engagements et de la règlementation en vigueur ou en cas de fraude</strong>, l’aide attribuée est annulée et les sommes déjà perçues devront être remboursées avec une majoration,
            li <strong>toute fraude ou fausse déclaration</strong> expose également à des sanctions financières et administratives, ainsi qu’à des poursuites judiciaires

            br


          = simple_form_for @projet_courant, url: { controller: "transmission", action: "create" }, html: { class: "form", method: "post" } do |f|
            .transmission-button-group
              = f.input :accepts, as: :boolean, label: t("projets.proposition.confirmation"), input_html: { class: "js-engagement" }
            .transmission-button-group
              = btn name: t("projets.transmission.envoi_demande"), class: "js-engagement transmission-button"



