div class="main ui container top"
  = affiche_erreurs_avec_cle @occupant, t('occupants.messages.erreur')
  h1 class="ui header" = t('occupants.edition.titre', occupant: @occupant.to_s)
  = form_for [@projet_courant, @occupant], url: { action: "update" }, html: { class: 'ui form' } do |f|
    = render partial: "form_fields", locals: { f: f }
    = f.submit I18n.t('occupants.edition.action', occupant: @occupant.to_s), class: 'ui primary button'
