<div class="ui icon success message">
  <i class="inbox icon"></i>
  <div class="content">
    <div class="header">
      Erreur: <%= current_agent.errors.full_messages %>
      Bonjour <%= current_agent.username %>
    </div>
  </div>
</div>
