API_BAN_DOMAIN='api-adresse.data.gouv.fr'
API_PARTICULIER_DOMAIN='particulier-test.api.gouv.fr'
API_PARTICULIER_KEY='test-token'
CLAVIS_INSTRUCTEUR_ID='7109'
CLAVIS_URL='https://preprod-clavis.anah.fr/clavis/'
DEMO=true
EMAIL_SUPERVISION='admin@anah.beta.gouv.fr'
ENV_NAME='DEV'
HOST='localhost:5000'
MAILJET_API_KEY='changeme'
MAILJET_SECRET_KEY='changeme'
NEWRELIC_LICENSE='changeme'
NO_REPLY_FROM='admin+noreply@anah.beta.gouv.fr'
NOKOGIRI_USE_SYSTEM_LIBRARIES=true
OPAL_API_BASE_URI='changeme'
OS_API_KEY='changeme'
OS_AUTH_URL='changeme'
OS_CONTAINER='changeme'
OS_REGION='changeme'
OS_TENANT_NAME='changeme'
OS_USERNAME='changeme'
REDIS_URL='redis://localhost:6379/0'
SIDEKIQ_DISABLED='true'
SIDEKIQ_PASSWORD='changeme'
SIDEKIQ_USERNAME='changeme'
SUBDOMAIN='anah-dev.beta'
