p Bonjour,
p= "#{@invitation.demandeur.fullname} souhaite effectuer des travaux dans son logement (#{@invitation.description_adresse})"
p Voici une description des travaux qu’il souhaite effectuer :
br
p= affiche_demande_souhaitee(@invitation.projet.demande)
p= link_to "Pour visualiser le projet, cliquer sur ce lien", dossier_url(@invitation.projet)
br
p Cordialement,
p L'ANAH
