p = "#{@invitation.demandeur_principal} souhaite effectuer des travaux dans son logement (#{@invitation.adresse})"
p Voici une description des travaux qu'il souhaite effectuer :
br
p = affiche_demande_souhaitee(@invitation.projet.demande)
p = link_to "Pour visualiser le projet, cliquer sur ce lien", projet_url(@invitation.projet, jeton: @invitation.token)
