p Bonjour,
br
p = "Un email vient d’être envoyé à #{@invitation.intervenant.raison_sociale}"
p Cet intervenant pourra consulter votre projet et prendre contact avec vous.
br
p Cordialement,
br
p L'ANAH
br

