p Bonjour,
p= "#{@invitation.demandeur_principal} a choisi un autre opérateur sur la plateforme Anah."
p Sauf erreur de manipulation de sa part, il n’est donc plus nécessaire de le contacter au sujet de son projet de travaux.
