<div class="ui icon success message">
  <i class="inbox icon"></i>
  <div class="content">
    <div class="header">
      Projet de <%= @projet_courant.owner %>
    </div>
    <p> 
      Félicitations ! Votre projet démarre aujourd'hui. Le tableau de bord récapitule les acteurs à ce jour 
    </p>
  </div>
</div>
<div class="ui cards">
<div class="ui card">
  <div class="content">
    <div class="header"><%= @projet_courant.owner %></div>
    <div class="meta"><%= @projet_courant.address %></div>
    <div class="description"><%= @projet_courant.description %></div>
  </div>
</div>
<div class="ui card">
  <div class="content">
    <div class="header">Operateur SOLIHA</div>
    <div class="meta">Operateur Ile-de-France</div>
    <div class="description">
      Soliha va vous accompagner
    </div>
  </div>
</div>
</div>
