div.ui.card
  div.content
    div.header= intervenant.raison_sociale
    div.meta
      - intervenant.roles.each do |role|
        .ui.label= role
      - end if intervenant.roles.present? && @utilisateur_courant.is_a?(Intervenant)
    div.meta= intervenant.adresse_postale
    div.description= simple_format(intervenant.informations)
  div.extra.content
    - intervenant.themes.each do |theme|
      div.ui.label= theme
    - end if intervenant.themes.present?
  - if avec_appel_a_agir
    div.extra.content
      - if @utilisateur_courant.is_a? Intervenant
        = form_tag(invitations_path(projet_id: projet.id, intervenant_id: intervenant.id), method: 'post', class:'ui form' ) do
          = hidden_field_tag :jeton, params[:jeton] if params[:jeton]
          = submit_tag t('projets.visualisation.mise_en_relation_intervenant'), class:'ui primary button'
      - else
        = link_to t("projets.visualisation.invitation_intervenant"), new_invitation_path(projet, intervenant.id), class:"ui basic green button"
