- content_for :cta do
  = form_tag(projet_transmissions_path(projet_id: @projet_courant.id), method: 'post', class:'ui form' ) do
    = submit_tag "Je valide mon projet", class: 'btn'
= render 'projet_proposition_acceptee'
