section.section
  h2.departement-non-eligible-p-padding= t("demarrage_projet.demandeur.departement_non_eligible.please_contact_pris")
  = btn name: t("demarrage_projet.demandeur.departement_non_eligible.action"), class: "btn-large btn-centered", icon: "info-sign", href: "http://www.renovation-info-service.gouv.fr/trouver-un-conseiller/step1"

