<h1>Projet de <%= @folder.owner %></h1>
<address><%= @folder.address %></address>
<p>
Votre revenu de référence (<%= @folder.revenu_reference %>) vous permet de bénéficier des aides de l'anah.
Nous vous invitons à contacter le PRIS le plus proche.
</p>
