p Vous êtes bien eligible hma
p pris ?
= @projet_courant.invited_pris.try(:raison_sociale)
p operateur ?
= @projet_courant.operateur.try(:raison_sociale)
p statut ?
= @projet_courant.statut
p seul ?
= @projet_courant.demande.seul