<div class="ui large fixed menu">
  <div class="ui container">
    <%= link_to 'Le projet', @projet, class: "active item" %>
    <div class="right menu">
      <div class="item"> <%= @utilisateur_courant %></div>
    </div>
  </div>
</div>
