<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item">Accueil</a>
    <div class="right menu">
      <div class="item">
        <%= link_to t('welcome.cta'), new_folder_path, class: "ui primary button" %>
      </div>
    </div>
  </div>
</div>
