<div class="ui large fixed menu">
  <div class="ui container">
    <%= link_to 'Accueil', @projet, class: "active item" %>
    <div class="right menu">
      <div class="item"> <%= @profil %></div>
    </div>
  </div>
</div>
