<div class="ui large fixed menu">
  <div class="ui container">
    <a class="active item">Accueil</a>
    <div class="right menu">
      <div class="item"> <%= @profil %></div>
    </div>
  </div>
</div>
