<div class="ui comments">
  <div class="comment">
    <a class="author">Emile Durano</a>
    <div class="metadata">
      <span class="date"> Aujourd'hui à 17h45</span>
    </div>
    <div class="text">
      Bonjour, J'aimerais savoir si vous avez bien pris connaissance de ma demande.
    </div>
    <!-- <div class="action">
      <a class="reply">Répondre</a>
    </div> -->
  </div>

  <form class="ui reply form">
    <div class="field">
      <textarea></textarea>
    </div>
    <div class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Répondre
    </div>
  </form>
</div>
