<% if notice.present? %>
<div class="ui icon success message">
  <i class="inbox icon"></i>
  <div class="content">
    <div class="header"><%= flash[:notice_titre] %></div>
    <p><%= notice %></p>
  </div>
</div>
<% end %>

<% if alert %>
  <div class="ui negative message">
    <div class="header"><%= alert %></div>
  </div>
<% end %>
