<% if notice %>
  <div class="ui positive message">
    <div class="header"><%= notice %></div>
  </div>
<% end %>

<% if alert %>
  <div class="ui negative message">
    <div class="header"><%= alert %></div>
  </div>
<% end %>
