p= "Bonjour #{@projet.demandeur.fullname},"

p= "Vous avez déposé auprès de l’Agence nationale de l’habitat – Anah – une demande de paiement pour des travaux effectués ou envisagés."
p= "Voici un récapitulatif du dossier de paiement :"
ul
  li= "Type de paiement : #{@payment.type_paiement}"
  li= "Bénéficiaire : #{@payment.beneficiaire}"

p= link_to "Pour visualiser le dossier de paiement, cliquer sur ce lien", dossier_payment_registry_url(@projet)
