p #{@projet.demandeur.civility} #{@projet.demandeur.fullname}

p Bonjour,


p= "Le #{l(@payment.updated_at, format: :humanized)}, vous avez déposé auprès de l’Agence nationale de l’habitat (Anah) une demande (@type de paiement) de votre aide."
p= "Vous avez demandé que ce paiement soit effectué à :" + @payment.beneficiaire

p= "Vous pouvez suivre où en est votre demande en allant dans votre espace personnel sur #{link_to(app_name, root_url)}".html_safe

p= "Cordialement,"
p= "Pour l’Anah, #{@projet.invited_instructeur.raison_sociale}"


Vous pouvez suivre où en est votre demande en allant dans votre espace personnel sur monprojet.anah.gouv.fr. 
Cordialement,
Pour l’Anah, la (le) DDT 25
