p= "Bonjour #{@projet.demandeur.fullname},"

p= "#{@projet.operateur.raison_sociale} a complété votre demande de paiement et attend votre validation afin de continuer la procédure."
p= "Informations sur votre demande de paiement :"
ul
  li= "Type de paiement : #{@payment.type_paiement}"
  li= "Bénéficiaire : #{@payment.beneficiaire}"

p= link_to "Pour visualiser la demande de paiement, cliquer sur ce lien", projet_payment_registry_url(@projet)
