<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item">Accueil</a>
    <div class="right menu">
      <div class="item">
        <%= link_to t('welcome.cta'), new_projet_path, class: "ui primary button" %>
      </div>
    </div>
  </div>
</div>
<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment teal">
    <div class="ui text container">
      <h1 class="ui inverted header"><%= t('welcome.promise') %></h1>
      <h2><%= t('welcome.baseline') %></h2>
      <%= link_to t('welcome.cta'), new_projet_path, class: "ui huge primary button" %>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">MPAL rassemble autour de votre projet toutes les compétences pour le faire aboutir</h3>
          <p>
Vous reculez devant un projet d'amélioration de votre logement pourtant nécessaire
à votre santé et votre confort, car la complexité des démarches pour obenir une
subvention vous effraie: vous ne savez pas à qui vous adresser, vous êtes noyé
sous des informations contradictoires, vous ne savez pas évaluer le coût restant
de votre poche, vous ne savez pas combien de temps cela prendra.

          </p>
        </div>
        <div class="six wide right floated column">
          <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Je démarre mon projet</a>
        </div>
      </div>
    </div>
  </div>





  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Religious Ceremonies</a>
            <a href="#" class="item">Gazebo Plans</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Banana Pre-Order</a>
            <a href="#" class="item">DNA FAQ</a>
            <a href="#" class="item">How To Access</a>
            <a href="#" class="item">Favorite X-Men</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
    </div>
  </div>
</div>
