div.ui.large.fixed.menu
  div.ui.container
    a.active.item Accueil
    div.notice
    = notice if notice
    div.right.menu
      div.item
        = link_to t('accueil.menu.mon_projet'), new_session_path, class: "ui primary button"
        = link_to t('accueil.reset'), reset_path, class: "ui primary button" if Tools.demo?
        = link_to "Messagerie Demo", letter_opener_web_path, class: "ui primary button" if Tools.demo?

div.pushers
  div.ui.inverted.vertical.masthead.center.aligned.segment.teal.img_accueil
    div#texte-accueil
      h1.ui.inverted.header = t('accueil.promesse')
      h2 = t('accueil.baseline')
    div
      = link_to t('accueil.action'), new_session_path, class: "ui huge primary button", id: "bouton-accueil"


  div.ui.vertical.stripe.segment
    div.ui.middle.aligned.stackable.grid.container
      div.row
        div.eight.wide.column
        h3.ui.header = t('accueil.description_titre')
        p = t('accueil.description')
