@mixin selection {
  ::-moz-selection { color: white; background: #08c; text-shadow: 0 0 0 none !important; }
  ::selection      { color: white; background: #08c; text-shadow: 0 0 0 none !important; }
}
@mixin color-black { color: black; text-shadow: 1px 1px 1px white; @include selection; }
@mixin color-white { color: white; text-shadow: 1px 1px 1px black; @include selection; }
@mixin ellipsis($no-wrap: true) {
  @if $no-wrap {
    white-space: nowrap; }
  overflow: hidden; text-overflow: ellipsis;
}
@mixin opacity($opacity) {
  filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})");
  opacity: $opacity;
}
