// All configuration stuff
$opensans: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;

$brand-primary:      #0583d7 !default; // blue
$brand-secondary:    #044773 !default;
$brand-grey:         #f0f3f6 !default;

$primary_color: #044773;
$megamenu_bg: #222;
$megamenu_link: #0582d6;
$table_hover: #ffc;
$pagination_start_color: #f4f4f4;
$pagination_stop_color: #d4d4d4;
$pagination_active_start_color: #807f7f;
$pagination_active_stop_color: #545353;
