@import "variables";
@import "mixins";

#main .error-page {
  padding-top: 50px;
  padding-bottom: 100px;
  max-width: 800px;
  margin: 0 auto;
  .heading {
    text-align: left;
    font-size: 24px;
    margin-top: 10px;
  }
  .button {
    text-align: center;
  }
  p {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 1em;
  }
  .btn-large {
    width: 200px;
  }
  .btn-contact {
    margin-left: 2em;
  }
}
.icon-error {
  text-align: center;
  .wrapper {
    display: inline-block;
    font-size: 140px;
    margin: 0 auto;
    width: 190px;
    height: 190px;
    line-height: 190px;
    background-color: #eee;
    border: 5px solid #ddd;
    border-radius: 190px;
    text-align: center;
  }
}
