@import "variables";
@import "mixins";

#header {
  height: 60px;
  line-height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 44px;
  overflow: hidden;
  .logo {
    display: none;
    text-align: center;
    padding: 0 20px;
    border-radius: 4px;
    img {
      display: inline-block;
      width: auto;
      height: em(40px);
    }
    .text {
      display: none;
      margin-left: 1em;
      @include media-breakpoint-up(sm) {
        display: inline-block;
      }
    }
    &:hover {
      background-color: rgba(0, 0, 128, 0.1);
    }
    @include media-breakpoint-up(sm) {
      display: block;
    }
  }
  .search {
    display: inline-block;
    .btn {
      display: inline-block;
    }
    input, button {
      vertical-align: middle;
    }
    .span2 {
      margin-left: 0;
      width: 17.02%; /* 17.094% */
    }
  }
  .user {
    margin-top: 0;
    margin-bottom: 0;
  }
  .nav-pills {
    text-align: center;
  }
  .nav-pills li {
    width: 16.666%;
  }
  .preview-wrapper {
    text-align: center;
    .preview-link {
      display: inline-block;
      width: 100%;
    }
  }
}

#menu {
  position: fixed;
  -webkit-backface-visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-top: 4px solid $brand-primary;
  background: #222;
  color: white;
  box-shadow: 0 2px 2px hsla(0, 0, 0, 0.4);
  .dropdown {
    margin-left: 0;
    width: 20%;
  }
  .li-last {
    float: right;
  }
  li > a {
    display: block;
    padding: 0.5em 0;
    font-size: 0.8em;
    border-radius: 0;
    color: white;
    text-align: center;
    @include media-breakpoint-up(sm) {
      font-size: 1em;
    }
  }
  a:hover, a:focus {
    background: $brand-secondary;
    color: white;
  }
  .open > a {
    background: $brand-primary;
  }
  .caret {
    border-bottom-color: white;
    border-top-color: white;
  }
  .dropdown-menu {
    min-width: 100%;
    background: #222;
    text-align: left;
  }
  .badge {
    color: white;
  }
  .badge-success {
    background: #5CB85C;
  }
  .badge-warning {
    background: #F0AD4E;
  }
  .badge-danger {
    background: #D9534F;
  }
}
