@import "variables";
@import "mixins";

/*
.fixed-notice {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  padding: 1em;
  z-index: 2000;
  .alert {
    box-shadow: 0 0 5px 3px hsla(0, 0%, 0%, 0.5);
  }
}
*/
ol.reorderable {
  margin: 20px 0 20px 30px;
  > li {
    list-style-type: decimal;
    cursor: move;
    padding: 5px 10px;
    height: 30px;
    line-height: 20px;
    &:hover {
      background: #ffc;
    }
    &.insertion-point {
      height: 30px;
      background: #f9f9f9;
      border: 1px dashed #888;
    }
  }
  &.with-images {
    > li {
      height: 30px;
      line-height: 30px;
    }
    img {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }
  .ui-sortable-helper {
    opacity: 0.7;
  }
}
