@import "variables";
@import "mixins";

.sidebar {
  padding: 15px 20px 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  .sidebar-heading {
    font-size: 12px;
    margin-bottom: 10px;
    color: #999;
    font-weight: bold;
    text-transform: uppercase;
  }
  .well {
    font-size: 12px;
    padding: 12px;
  }
  .table-links {
    .glyphicon {
      margin-right: 10px;
    }
    .btn {
      text-align: left;
      padding: 0.5rem 1rem;
    }
  }
  .btn-secondary {
    background-color: $brand-grey;
    &:hover, &:focus, &:active, &.active {
      background-color: $brand-secondary;
    }
  }
}
.table-links {
  margin-bottom: 15px;
}
#sidebar-tabs {
  margin-bottom: 15px;
  .list-group-item {
    display: block;
    padding: 0.5rem 1rem;
  }
  .inline-text {
    margin-left: 10px;
  }
  .glyphicon-chevron-right {
    float: right;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
.form-sidebar-search {
  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
}
