p Vous êtes sur copro ELIGIB
p Voici votre adresse #{@adresse}
br
p
	= cookies.size
br
p Cookie content:
p
	= cookies["Testy_Cooky"]
br
br

p Commun
p
	= cookies["copro-commun"]
br
p Construction
p
	= cookies["copro-construction"]
br
p Construction Date
p
	= cookies["copro-const-date"]
br
p Percent
p
	= cookies["copro-percent"]
br
p Administration
p
	= cookies["copro-adm"]
br
p Insalubrite
p
	= cookies["copro-insalubrite"]
br
p Peril
p
	= cookies["copro-peril"]
br
p Securite
p
	= cookies["copro-securite"]
br
p Saturnisme
p
	= cookies["copro-saturnisme"]
br
p Travaux
p
	= cookies["copro-travaux"]
br
p Consommation
p
	= cookies["copro-consommation"]
br
p Energetique
p
	= cookies["copro-classif-energetique"]
br
p Impayees
p
	= cookies["copro-charges-impayees"]
br
p OPA
p
	= cookies["copro-opa"]
br
p Travaux deja commence
p
	= cookies["copro-travaux-commence"]
