p Bonjour #{@demandeur.fullname},

p= "#{ @message.auteur.fullname } vous a envoyé un message :"
p= @message.corps_message
p= link_to "Vous pouvez le consulter directement dans la messagerie de votre projet", new_projet_message_url(@demandeur.projet)

p Cordialement,

p L'ANAH
