$color-primary:       #435C70 !default;
$color-steel:         #008CBA !default;
$color-red:           #D9184E !default;
$color-light-grey:    #EEF1F7 !default;
$color-black:         #111    !default;
$color-light-green:   #B6E89F !default;
$color-dark-green:    #1C5D1D !default;
$color-light-yellow:  #EAE5A3 !default;
$color-brown:         #764C11 !default;
$color-light-red:     #E89D9A !default;
$color-dark-red:      #851B0D !default;

$font-color: $color-primary;

