$color-primary:							#435C70 !default;
$color-alice-blue:						#f2f6fa !default;
$color-steel:							#008CBA !default;
$color-red:								#D9184E !default;
$color-flash-red:						#e7235a !default;
$color-light-green:						#B6E89F !default;
$color-dark-green:						#1C5D1D !default;
$color-light-yellow:					#EAE5A3 !default;
$color-brown:							#764C11 !default;
$color-light-red:						#E89D9A !default;
$color-dark-red:						#851B0D !default;
$color-grey80:							#CCC	!default;
$color-grey:							#F0F0F0 !default;
$color-light-grey:						#EEF1F7 !default;
$color-alt-grey:						#E1E1E1 !default;
$color-dark-grey:						#808080 !default;
$color-very-dark-grey:					#353940 !default;
$color-very-light-grey:					#eef1f7 !default;
$color-lighter-grey:					#ddd	!default;
$color-another-grey:					#cbd4e7	!default;
$color-very-gray:						#888	!default;
$color-very-light-dark-gray:			#777	!default;
$color-very-dark-gray:					#666	!default;
$color-very-lighter-dark-gray:			#555	!default;
$color-very-darker-gray:				#333	!default;
$color-very-black:						#222	!default;
$color-black:							#111    !default;
$color-very-light-gray:					#eee	!default;
$color-very-white:						#fff	!default;
$color-whisper:							#e6e6e6	!default;
$color-gray68:							#adadad	!default;
$color-white2:							#fefefe	!default;
$color-white-smoke:						#F1F1F1	!default;
$color-dark-cyan-blue:					#576f8c	!default;
$color-magenta:							#86062d	!default;
$color-red-pink-gradient:				#e7235a	!default;
$color-triplet-de-sortileges:			#449d44	!default;
$color-deep-green:						#398439 !default;
$color-fern:							#5cb85c	!default;
$color-fruit-salad:						#4cae4c !default;
$color-desatured-cian-blue:				#909eaf !default;
$color-mostly-desaturated-dark-blue:	#5a869f !default;
$color-light-blue:						#54869B !default;
$color-very-light-cyan-blue:			#5ab0ee	!default;
$color-light-grayish-pink:				#dba8bc	!default;
$color-cyan-bluish-white:				#d2daea	!default;
$color-solitude:						#e6eaed !default;
$color-dark-dark-gray:					#aaa 	!default;
$color-brick-red:						#bd4147	!default;
$color-ghost-white:						#f7f7f9	!default;
$color-black-russian:					#1b1e24	!default;
$color-waikawa-gray:					#666B85 !default;
$color-snow:							#fafafa !default;
$color-gray92:							#EBEBEB !default;

$font-color: $color-primary;

$break_little_295: 295px;
$break_little_400: 400px;
$break_little_440: 440px;
$break_little_480: 480px;
$break_little_500: 500px;
$break_little_501: 501px;
$break_medium_599: 599px;
$break_medium_600: 600px;
$break_medium_630: 630px;
$break_medium_640: 640px;
$break_medium_700: 700px;
$break_medium_800: 800px;
$break_medium_820: 820px;
$break_medium_900: 900px;
$break_medium_920: 920px;
$break_large_1000: 1000px;
$break_large_1020: 1020px;
$break_large_1110: 1110px;
$break_large_1199: 1199px;
$break_large_1200: 1200px;

// MIXIN DECLARATION FOR RESPONSIVE HANDLING
// usage : @include respond-to(<name>) {
@mixin respond-to($media) {
	@if $media == large_screens_1200 { @media only screen and (min-width: $break_large_1200) { @content; } }
	@else if $media == large_screens_1199 { @media only screen and (min-width: $break_large_1199) { @content; } }
	@else if $media == large_screens_1110 { @media only screen and (min-width: $break_large_1110) { @content; } }
	@else if $media == large_screens_1020 { @media only screen and (min-width: $break_large_1020) { @content; } }
	@else if $media == large_screens_1000 { @media only screen and (min-width: $break_large_1000) { @content; } }
	@else if $media == medium_screens_920 { @media only screen and (min-width: $break_medium_920) { @content; } }
	@else if $media == medium_screens_900 { @media only screen and (min-width: $break_medium_900) { @content; } }
	@else if $media == medium_screens_820 { @media only screen and (min-width: $break_medium_820) { @content; } }
	@else if $media == medium_screens_800 { @media only screen and (min-width: $break_medium_800) { @content; } }
	@else if $media == medium_screens_700 { @media only screen and (min-width: $break_medium_700) { @content; } }
	@else if $media == medium_screens_640 { @media only screen and (min-width: $break_medium_640) { @content; } }
	@else if $media == medium_screens_630 { @media only screen and (min-width: $break_medium_630) { @content; } }
	@else if $media == medium_screens_600 { @media only screen and (min-width: $break_medium_600) { @content; } }
	@else if $media == medium_screens_599 { @media only screen and (max-width: $break_medium_599) { @content; } }
	@else if $media == mobile_screens_501 { @media only screen and (min-width: $break_little_501) { @content; } }
	@else if $media == mobile_screens_500 { @media only screen and (min-width: $break_little_500) { @content; } }
	@else if $media == mobile_screens_480 { @media only screen and (min-width: $break_little_480) { @content; } }
	@else if $media == mobile_screens_440 { @media only screen and (min-width: $break_little_440) { @content; } }
	@else if $media == mobile_screens_400 { @media only screen and (min-width: $break_little_400) { @content; } }
	@else if $media == mobile_screens_295 { @media only screen and (max-width: $break_little_295) { @content; } }
}

@mixin ellipsis($no-wrap: true) {
	@if $no-wrap { white-space: nowrap; }
	overflow: hidden;
	text-overflow: ellipsis;
}