$color-primary: #435C70 !default;
$color-steel:   #008CBA !default;
$color-red:     #D9184E !default;
$color-light-grey: #EEF1F7 !default;
$color-black:   #111 !default;

$font-color: $color-primary;

