.agent-menu {
	clear: both;
	margin-bottom: 1em;
	text-align: left;
	.btn + .btn { margin-left: .5em; }
}

.agent-menu-item { margin-top: 1em; }

.agent-menu-text-button {
	display: none;
	margin-left: .5em;

	@include respond-to(medium_screens_600) {
		display: inline-block;
	}
}

.agent-menu-right { float: right; }

.agent-menu-identity {
	float: left;
	font-size: .9em;
	line-height: 1.2em;
	margin-right: 1em;
	text-align: right;
}

.agent-menu-fullname {
	display: block;
	font-weight: bold;
}

.agent-menu-intervenant { display: block; }
