@import "variables";

.btn {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  border: solid 1px #86062d;
  color: white;
  padding: 0.3125em 0.6125em;
  font-size: 1em;
  line-height: 1.6em;
  background-color: #e7235a;
  transition: all 200ms ease;
  text-decoration: none;
  &:hover {
    background-color: #d9184e;
  }
  span + .glyphicon, .glyphicon + span {
    margin-left: 0.4em;
  }
}
.btn + .btn {
  margin-left: 2em;
}
.btn-small {
  font-size: 0.8em;
  line-height: 1.3em;
}
.btn-large {
  font-size: 1.25em;
  height: 2.5em;
}
.btn-centered {
  display: table;
  margin: 15px auto 0;
}
.btn-test {
  background-color: #449d44;
  border-color: #398439;
  &:hover {
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
}
.btn-secondary {
  background-color: #888;
  border-color: #777;
  &:hover {
    background-color: #666;
    border-color: #555;
  }
}
.btn-default {
  background-color: white;
  border-color: #ccc;
  color: #333;
  &:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
  }
}
.align-top-right {
  position: absolute;
  right: 15px;
  top: 5px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe ;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 360px; /* Could be more or less, depending on screen size */

  text-align: center;
}

.modalIntervenants-confirm, .modalIntervenants-cancel{
  margin-top: 10px;
}

#displayIntervenantsContainer {
  p {
    margin-bottom: 20px;
    text-align: left;
    font-size: 18px;
    font-weight: 800;
    margin-top: -15px;
  }
  .displayIntervenants {
    display: block;
    width: 100%;
    text-align: left;
  }
}
.intervenant_label_align {
  padding-left: 23px;
  margin-top: -23px;
  line-height: 23px;
  margin-bottom: 5px;
  word-break: keep-all; 
}

.buttonActive {
  text-align: center;
  width: 200px;
  .btn-button-activate, .btn-button-deactivate {
    display: inline-block;
    width: 100%;
  }
  .btn-button-activate { background-color: #009900; }
  .btn-button-deactivate { background-color: $color-red; }
}