.btn {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.5);
  border: solid 1px #86062d;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  padding: 0.3125em 1em;
  font-size: 1em;
  line-height: 1.6em;
  background-color: #e7235a;
  transition: all 200ms ease;
  text-decoration: none;
  &:hover {
    background-color: #d9184e;
  }
  .glyphicon {
    position: absolute;
    top: 0.6em;
    right: 0.6875em;
    width: 1em;
    height: 1em;
  }
}
.btn + .btn {
  margin-left: 2em;
}
.btn-icon {
  padding-right: 2.3em;
}
.btn-small {
  font-size: 0.8em;
  line-height: 1.3em;
  .glyphicon {
    top: 0.5em;
  }
}
.btn-large {
  font-size: 1.25em;
  height: 2.5em;
  .glyphicon {
    top: 0.7em;
    right: 1.1em;
  }
  &.btn-icon {
    padding-left: 1.25em;
    padding-right: 3em;
  }
}
.btn-centered {
  display: table;
  margin: 15px auto 0;
}
.btn-test {
  background-color: #449d44;
  border-color: #398439;
  &:hover {
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
}
.btn-secondary {
  background-color: #888;
  border-color: #777;
  &:hover {
    background-color: #666;
    border-color: #555;
  }
}

.align-top-right {
  position: absolute;
  right: 15px;
  top: 5px;
}

