.btn {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  border: solid 1px #86062d;
  color: white;
  padding: 0.3125em 0.6125em;
  font-size: 1em;
  line-height: 1.6em;
  background-color: #e7235a;
  transition: all 200ms ease;
  text-decoration: none;
  &:hover {
    background-color: #d9184e;
  }
  span + .glyphicon {
    margin-left: 0.4em;
  }
}
.btn + .btn {
  margin-left: 2em;
}
.btn-small {
  font-size: 0.8em;
  line-height: 1.3em;
}
.btn-large {
  font-size: 1.25em;
  height: 2.5em;
}
.btn-centered {
  display: table;
  margin: 15px auto 0;
}
.btn-test {
  background-color: #449d44;
  border-color: #398439;
  &:hover {
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
}
.btn-secondary {
  background-color: #888;
  border-color: #777;
  &:hover {
    background-color: #666;
    border-color: #555;
  }
}
.btn-default {
  background-color: white;
  border-color: #ccc;
  color: #333;
  &:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
  }
}
.align-top-right {
  position: absolute;
  right: 15px;
  top: 5px;
}

