.cat-flex-box,
.cat-flex-box-home {
	align-items: stretch;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.cat-flex-box {
	margin-top: 20px;

	.subtitle,
	.subtitle2 {
		margin-right: 17px;
		position: relative;
		white-space: nowrap;
		width: auto;
	}

	.subtitle2 { margin-left: 30px; }

	.line {
		border-bottom: 1px solid $color-light-blue;
		position: relative;
		top: -9px;
		width: 100%;
	}

	.line2 {
		border-bottom: 1px solid $color-black-russian;
		position: relative;
		width: 80%;
		margin-left: 10%;
	}
}

.cat-flex-box-home {
	margin-top: 30px;

	.subtitle-home {
		font-size: 20px;
		margin-left: 37px;
		margin-right: 37px;
		position: relative;
		white-space: nowrap;
		width: auto;
	}

	.line-home {
		border-bottom: 1px solid $color-light-blue;
		position: relative;
		top: -15px;
		width: 100%;
	}
}
