.col-left {
  background: $color-primary;
  color: white;
  margin-bottom: 15px;
  @media screen and (min-width: 600px) {
    flex: 0 0 200px;
    margin-right: 15px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 700px) {
    flex: 0 0 250px;
  }
  @media screen and (min-width: 800px) {
    flex: 0 0 300px;
  }
}
.page-projet .col-right {
  flex: 1;
}
.col-projet {
  a {
    color: white;
  }
  .btn {
    text-decoration: none;
  }
  section {
    padding: 20px;
  }
}
.personal-information {
  background-color: #576f8c;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.22);
  h2 {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  }
  ul {
    margin-top: 0.5em;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  }
  .personne {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px dotted white;
    .personne-titre {
      text-decoration: underline;
    }
  }
}
.affectation {
  padding: 20px;
  color: white;
  p {
    margin-bottom: 1em;
    color: white;
  }
  .btn-affecter-agent {
    margin: 0 auto;
  }
}
