@import "variables";

.col-menu__item {
  display: block;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  &:hover {
    background-color: #eee;
  }
  &:last-child {
    border-bottom: none;
  }
}

