.col-menu-item {
	border-bottom: 1px solid $color-lighter-grey;
	display: block;
	padding: 10px;
	text-decoration: none;

	&:hover { background-color: $color-very-light-gray; }

	&:last-child { border-bottom: 0; }
}
