.contacts-address { display: none; }


.margin-radio {
	margin-right: .5em;
	position: static;
}

.label-margin { margin-right: 50px; }

.op-select {
	display: block;
	margin-top: 15px;
	width: 40%;
}

.title-contact {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 15px;
}

.bloc-question {
	display: inline-block;
	padding-top: 1em;

	.block-label-contact {
		display: block;
		font-weight: bold;

		&:nth-of-type(2) { margin-top: 30px; }
	}

	.italic-contact {
		font-size: 14px;
		margin-bottom: 15px;
	}
}

.info-contact {
	display: inline-block;
	margin-bottom: 30px;
	margin-top: 30px;
	position: relative;
	text-align: left;
	width: 100%;

	.italic-contact-infos { font-size: 16px; }
	.bold-contact-infos { font-weight: bold; }
}

.p-question { padding-bottom: 1em; }
