.contact-details { @extend .clearfix; }

@include respond-to(medium_screens_600) {
	.contact-details-column {
		float: left;
		padding-right: 2em;
		width: 50%;
	}
}

.contact-details-item {
	margin-bottom: 1em;
	position: relative;
}

.contact-details-role,
.contact-details-name {
	font-weight: bold;
}

.contact-details-role { font-size: 1.5em; }

.contact-details-title {
	margin-bottom: .5em;
	margin-top: 1.5em;
}

.contact-details-actions {
	position: absolute;
	right: 1em;
	top: 0;

	@include respond-to(medium_screens_600) { right: 3em; }
}
