// DASHBOARD PART
.dashboard-tab { display: inline-block; }

.dashboard-container {
	background: $color-very-white;
	color: $color-very-gray;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.dashboard-tab-container {
	display: table;
	margin-left: 20px;
	overflow: hidden;
	position: relative;
	width: calc(100% - 20px);

	li {
		display: inline-block;
		overflow: hidden;
		padding: 0;
		position: relative;
		z-index: 0;

		&:not(.current) {
			border-left: 1px solid $color-very-light-gray;
			color: $color-very-light-gray;

			&::after {
				background: $color-very-white;
				border: 1px solid $color-very-light-gray;
			}
		}

		&.current {
			color: $color-very-white;

			&::after { background: $color-steel; }

			a {
				color: $color-very-white;
				margin-bottom: 3px;
			}
		}

		&::after {
			content: '';
			height: 100%;
			left: -18px;
			position: absolute;
			top: 0;
			-ms-transform: skew(35deg);
			-webkit-transform: skew(35deg);
			transform: skew(35deg);
			-ms-transform-origin: 100% 0;
			-webkit-transform-origin: 100% 0;
			transform-origin: 100% 0;
			width: 100%;
			z-index: -1;
		}
	}

	a {
		color: $color-very-gray;
		display: block;
		font-weight: 500;
		letter-spacing: 0;
		outline: none;
		overflow: hidden;
		padding: 0 20px;
		text-decoration: none;
		-moz-transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
}

.tab-content {
	position: relative;
	top: -9px;
}

.tabs-item {
	display: none;

	a { text-decoration: none; }

	table {
		width: 100%;

		tr {
			background: $color-very-white;
			border-bottom: 1px solid $color-steel;
			color: $color-pure-black;

			&:first-child { border-top: 1px solid $color-steel; }

			&:nth-child(odd) {
				a {
					color: $color-pure-black;
					text-decoration: none;
				}
			}

			&:hover {
				background: $color-steel;
				color: $color-very-white;

				a {
					color: $color-very-white;
					text-decoration: none;
				}
			}

			.dashboard-date-text-container {
				min-height: 25px;
				width: 100%;

				a {
					display: inline-block;
					width: 100%;
				}
			}

			.dashboard-date-text-1,
			.dashboard-date-text-2 {
				display: inline-block;
				text-decoration: none;

				&:hover { text-decoration: none; }
			}

			.dashboard-date-text-1 { float: left; }

			.dashboard-date-text-2 { float: right; }
		}

		.table-row-icons-border {
			text-align: center;
			width: 90px;

			&:hover {
				cursor: pointer;
				font-size: 12px;
				font-weight: bold;
			}

			.paiement-inactive { color: $color-very-gray; }
		}

		.glyphicon-eye-close,
		.glyphicon-eye-open {
			color: $color-red;
		}
	}

	&:first-child { display: block; }
}

.dashboard-filter-search {
	display: inline-block;
	float: right;
	height: 40px;
	margin-left: 10px;
	width: 110px;

	div {
		background-color: $color-red;
		border: 1px solid $color-transparent-black-1-5;
		border-radius: .25rem;
		color: $color-very-white;
		cursor: pointer;
		font-size: 1rem;
		line-height: 1.25;
		padding: .5rem .75rem;

		&:hover { background-color: $color-dark-red; }
	}
}

.dashboard-dossiers {
	min-height: 200px;

	.btn-export {
		background-color: $color-very-gray;
		border: 1px solid $color-very-light-dark-gray;
		border-radius: .25rem;
		color: $color-very-white;
		cursor: pointer;
		display: inline-block;
		font-size: 1rem;
		line-height: 1.25;
		margin-left: 10px;
		padding: .5rem .75rem;
		position: relative;
		width: 140px;

		&:hover {
			background-color: $color-very-dark-gray;
			border-color: $color-very-lighter-dark-gray;
		}
	}
}

.dashboard-filter-container {
	background-color: $color-grey;
	display: inline-block;
	height: auto;
	margin-bottom: 20px;
	min-height: 50px;
	position: relative;
	width: 100%;
	z-index: 100;

	.dashboard-filter-free-search {
		display: inline-block;
		height: 40px;
		margin-left: 10px;
		margin-top: 5px;
		position: relative;
		width: 35%;

		input {
			border: 1px solid $color-transparent-black-1-5;
			border-radius: .25rem;
			font-size: 1rem;
			height: 100%;
			line-height: 1.25;
			padding: .5rem .75rem;
			width: 100%;

			&:disabled {
				background-color: $color-another-grey;
				cursor: not-allowed;
			}
		}
	}

	.dashboard-filter-status,
	.dashboard-filter-state {
		bottom: 1px;
		display: inline-block;
		height: 40px;
		margin-left: 10px;
		position: relative;
		width: 20%;

		select {
			background-color: $color-very-white;
			border: 1px solid $color-transparent-black-1-5;
			border-radius: .25rem;
			font-size: 1rem;
			height: 100%;
			line-height: 1.25;
			padding: .5rem .75rem;
			width: 100%;
		}
	}

	.dashboard-filter-advanced {
		color: $color-pure-black;
		display: inline-block;
		height: 40px;
		line-height: 40px;
		margin-left: 10px;
		position: relative;
	}
}

.dashboard-filter-container-advanced {
	background-color: $color-grey;
	display: none;
	height: 250px;
	padding: .5rem .75rem;
	position: relative;
	vertical-align: top;
	width: 100%;
	z-index: 100;

	.dashboard-filter-container-advanced-left,
	.dashboard-filter-container-advanced-center,
	.dashboard-filter-container-advanced-right {
		display: inline-block;
		position: absolute;
	}

	.dashboard-filter-container-advanced-left,
	.dashboard-filter-container-advanced-right {
		.dashboard-filter-area,
		.dashboard-filter-area-date {
			bottom: 1px;
			display: block;
			margin-top: 10px;
			position: relative;

			input {
				border: 1px solid $color-transparent-black-1-5;
				border-radius: .25rem;
				font-size: 1rem;
				height: 40px;
				line-height: 1.25;
				padding: .5rem .75rem;
				width: 100%;
			}
		}
	}

	.dashboard-filter-container-advanced-left {
		height: 250px;
		width: 30%;

		.dashboard-filter-area { width: calc(100% - 10px); }
	}

	.dashboard-filter-container-advanced-center {
		height: 250px;
		margin-left: calc(30% + 30px);
		margin-top: 10px;
		width: 23%;

		.dashboard-filter-order {
			position: relative;

			&:last-child { float: right; }
			&:first-child { float: left; }
			input { margin-right: 4px; }
		}
	}

	.dashboard-filter-container-advanced-right {
		margin-left: calc(55% + 40px);
		width: 40%;

		.dashboard-filter-area {
			margin-left: 10px;
			width: calc(60% - 10px);
		}

		.dashboard-filter-area-date {
			margin-left: 10px;
			width: calc(40% - 10px);
		}
	}
}
