@import "variables";

$search-inline-breakpoint: 870px;

.dashboard-dossiers {
  min-height: 200px;
  .btn-export {
    float: right;
  }
}
.dashboard-dossiers__search {
  margin-bottom: 1em;
  @media screen and (min-width: $search-inline-breakpoint) {
    .form-search {
      display: flex;
    }
  }
  .form-group {
    margin-bottom: 0;
  }
}
.dashboard-dossiers__search-item {
  flex-grow: 1;
  padding: 10px;
  background: #eee;
}
@media screen and (min-width: $search-inline-breakpoint) {
  .dashboard-dossiers__search-item--top-padded {
    padding-top: 46px;
  }
}
.dashboard-table {
  font-size: 0.8em;
}

// No more used 2017-10-15
.table-dashboard {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  th, td {
    padding: 3px;
    vertical-align: top;
    border: 1px solid #ddd;
    // "Ça dépasse"
    //white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    > a {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: $font-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  thead {
    th {
      background-color: #ccc;
      color: #353940;
    }
    th, td {
      padding: 3px 5px;
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
      text-align: left;
    }
  }
  &.table-hover {
    tbody tr:hover {
      background-color: #ffc;
    }
  }
}

.flex-indicateurs-projet {
  margin-top: 30px;
}

.indicateur-projet {
  float: left;
  background-color: #67a2bc;
  margin-left: 30px;
  margin-bottom: 30px;
  height: 150px;
  width: 300px;
  padding-top: 20px;
  box-shadow: 2px 2px 3px grey;
  border-radius: 10px;
  text-align: center;
  h3 {
    font-weight: bolder;
    font-size: 20px;
    color:white;
  }

  position: relative;
}

.nombre-projets {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;

  position: absolute;
  left : 38%;
  bottom: 10%;
}
.dashboard__icon {
  font-size: 1.5em;
  color: $orange;
}
.dashboard__icon--action-required {
  font-size: 1.5em;
  color: $red;
}
.dashboard__icon--no-action {
  font-size: 1.5em;
  color: $green;
}
.dashboard__icon--anonymized {
  font-size: 1.5em;
  color: $gray-light;
}
