// DASHBOARD PART
.dashboardTab { display: inline-block; }
.dashboardContainer {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	background: #fff;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-weight: 300;
	color: #888;
	-webkit-font-smoothing: antialiased;
}
.dashboardTabContainer {
	display: table;
	position: relative;
	overflow: hidden;
	margin-left: 20px;
	width: calc(100% - 20px);
	li {
		padding: 0;
		position: relative;
		display: inline-block;
		overflow: hidden;
		z-index: 0;
		&:not(.current) {
			color: #eee;
			border-left: 1px solid #eee;
			&:after {
				background: #fff;
				border: 1px solid #eee;
				
			}
		}
		&.current {
			color: #fff;
			&:after { background: #008CBA; }
			a {
				color: white;
				margin-bottom: 3px;
			}
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: -18px;
			width: 100%;
			height: 100%;
			-webkit-transform-origin: 100% 0;
			-ms-transform-origin: 100% 0;
			transform-origin: 100% 0;
			-webkit-transform: skew(35deg);
			-ms-transform: skew(35deg);
			transform: skew(35deg);
			z-index: -1;
		}
	}
	a {
		color: #888;
		font-weight: 500;
		display: block;
		letter-spacing: 0;
		outline: none;
		padding: 0 20px;
		text-decoration: none;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		overflow: hidden;
	}
}
.tab_content {
    top: -9px;
    position: relative;
}
.tabs_item {
	display: none;
	a { text-decoration: none; }
	table {
		width: 100%;
		tr {
			&:first-child { border-top: 1px solid #008CBA; }
			&:nth-child(odd) {
				a {
					color: black;
					text-decoration: none;
				}
				color: black;
				background: white;
			}
			&:nth-child(even) {
				color: black;
				background: white;
			}
			& { border-bottom: 1px solid $color-steel; }
			&:hover {
				a {
					color: white;
					text-decoration: none;
				}
				background: $color-steel;
				color: white;
			}
			.dashboardDateTextContainer {
				width: 100%;
				min-height: 25px;
				a {
					display: inline-block;
					width: 100%;
				}
			}
			.dashboardDateText1, .dashboardDateText2 {
				display: inline-block;
				text-decoration: none;
				&:hover { text-decoration: none; }
			}
			.dashboardDateText1 { float: left; }
			.dashboardDateText2 { float: right; }
		}
		.tableRowIconsBorder {
			text-align: center;
			width: 90px;
			&:hover {
				font-size: 12px;
				font-weight: bold;
				cursor: pointer;
			}
			.paiementInactive { color: #888; }
		}
		.glyphicon-eye-close, .glyphicon-eye-open { color: #D9184E; }
	}
	&:first-child { display: block; }
}

.dashboardFilterSearch {
	float: right;
	display: inline-block;
	margin-left: 10px;
	width: 110px;
	height: 40px;
	div {
		border-radius: 0.25rem;
		border: 1px solid rgba(0, 0, 0, 0.15);
		padding: 0.5rem 0.75rem;
		font-size: 1rem;
		line-height: 1.25;
		color: white;
		background-color: $color_red;
		cursor: pointer;
		&:hover { background-color: $color-dark-red; }
	}
}
.dashboard-dossiers {
	min-height: 200px;
	.btn-export {
		position: relative;
		display: inline-block;
		margin-left: 10px;
		width: 140px;
		border-radius: 0.25rem;
		border: 1px solid #777;
		padding: 0.5rem 0.75rem;
		font-size: 1rem;
		line-height: 1.25;
		color: white;
		background-color: #888;
		cursor: pointer;
		&:hover {
			background-color: #666;
			border-color: #555;
		}
	}
}
// DASHBOARD FILTERS PART NORMAL
.dashboardFilterContainer {
	display: inline-block;
	position: relative;
	width: 100%;
	min-height: 50px;
	height: auto;
	background-color: $color-grey;
	z-index: 100;
	margin-bottom: 20px;
	.dashboardFilterFreeSearch {
		position: relative;
		display: inline-block;
		margin-left: 10px;
		width: 35%;
		height: 40px;
		margin-top: 5px;
		input {
			width: 100%;
			height: 100%;
			border-radius: 0.25rem;
			border: 1px solid rgba(0, 0, 0, 0.15);
			padding: 0.5rem 0.75rem;
			font-size: 1rem;
			line-height: 1.25;
			&:disabled {
				background-color: $color-another-grey;
				cursor: not-allowed;
			}
		}
	}
	.dashboardFilterStatus, .dashboardFilterState {
		position: relative;
		display: inline-block;
		width: 20%;
		height: 40px;
		bottom: 1px;
		margin-left: 10px;
		select {
			width: 100%;
			height: 100%;
			border-radius: 0.25rem;
			border: 1px solid rgba(0, 0, 0, 0.15);
			padding: 0.5rem 0.75rem;
			background-color: white;
			font-size: 1rem;
			line-height: 1.25;
		}
	}
	.dashboardFilterAdvanced {
		position: relative;
		display: inline-block;
		margin-left: 10px;
		height: 40px;
		line-height: 40px;
		color: black;
	}
}

// DASHBOARD FILTERS PART NORMAL
.dashboardFilterContainerAdvanced {
	display: none;
	position: relative;
	width: 100%;
	height: 250px;
	background-color: $color-grey;
	vertical-align: top;
	padding: 0.5rem 0.75rem;
	z-index: 100;
	.dashboardFilterContainerAdvancedLeft {
		position: absolute;
		display: inline-block;
		height: 250px;
		width: 30%;
		.dashboardFilterArea {
			position: relative;
			display: block;
			margin-top: 10px;
			width: calc(100% - 10px);
			bottom: 1px;
			input {
				width: 100%;
				height: 40px;
				border-radius: 0.25rem;
				border: 1px solid rgba(0, 0, 0, 0.15);
				padding: 0.5rem 0.75rem;
				font-size: 1rem;
				line-height: 1.25;
			}
		}
	}
	.dashboardFilterContainerAdvancedCenter {
		position: absolute;
		display: inline-block;
		margin-left: calc(30% + 30px);
		margin-top: 10px;
		height: 250px;
		width: 23%;
		.dashboardFilterOrder {
			position: relative;
			&:last-child { float: right; }
			&:first-child { float: left; }
			input { margin-right: 4px; }
		}
	}
	.dashboardFilterContainerAdvancedRight {
		position: absolute;
		display: inline-block;
		margin-left: calc(55% + 40px);
		width: 40%;
		.dashboardFilterArea {
			position: relative;
			display: block;
			margin-left: 10px;
			margin-top: 10px;
			width: calc(60% - 10px);
			bottom: 1px;
			input {
				width: 100%;
				height: 40px;
				border-radius: 0.25rem;
				border: 1px solid rgba(0, 0, 0, 0.15);
				padding: 0.5rem 0.75rem;
				font-size: 1rem;
				line-height: 1.25;
			}
		}
		.dashboardFilterAreaDate {
			position: relative;
			display: block;
			margin-left: 10px;
			margin-top: 10px;
			width: calc(40% - 10px);
			bottom: 1px;
			input {
				width: 100%;
				height: 40px;
				border-radius: 0.25rem;
				border: 1px solid rgba(0, 0, 0, 0.15);
				padding: 0.5rem 0.75rem;
				font-size: 1rem;
				line-height: 1.25;
			}
		}
	}
}
