@import "variables";

.dashboard-dossiers {
  min-height: 200px;
  .btn-export {
    margin-bottom: 1em;
  }
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  th, td {
    padding: 3px;
    vertical-align: top;
    border: 1px solid #ddd;
    // "Ça dépasse"
    //white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    > a {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: $font-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  thead {
    th {
      background-color: #ccc;
      color: #353940;
    }
    th, td {
      padding: 3px 5px;
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
      text-align: left;
    }
  }
  &.table-hovered {
    tbody tr:hover {
      background-color: #ffc;
    }
  }
  &.table-stripped {
    tbody tr:nth-of-type(even) {
      background-color: #eee;
    }
  }
}

.flex-indicateurs-projet {
  margin-top: 30px;
}

.indicateur-projet {
  float: left;
  background-color: #67a2bc;
  margin-left: 30px;
  margin-bottom: 30px;
  height: 150px;
  width: 300px;
  padding-top: 20px;
  box-shadow: 2px 2px 3px grey;
  border-radius: 10px;
  text-align: center;
  h3 {
    font-weight: bolder;
    font-size: 20px;
    color:white;
  }

  position: relative;
}

.nombre-projets {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;

  position: absolute;
  left : 38%;
  bottom: 10%;
}
