.dashboard-dossiers {
  min-height: 200px;
  .btn-export {
    margin-bottom: 1em;
  }
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  th, td {
    padding: 3px;
    vertical-align: top;
    border: 1px solid #ddd;
    // "Ça dépasse"
    //white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    > a {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: #56869a;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  thead {
    th {
      background-color: #ccc;
      color: #353940;
    }
    th, td {
      padding: 3px 5px;
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
      text-align: left;
    }
  }
  &.table-hovered {
    tbody tr:hover {
      background-color: #ffc;
    }
  }
  &.table-stripped {
    tbody tr:nth-of-type(even) {
      background-color: #eee;
    }
  }
}

