@import "variables";
@import "mixins";

.document-panel {
  padding: 1.5em 0;
  border-top: 1px solid $color-primary;
}
.document-panel:last-child {
  border-bottom: 1px solid $color-primary;
}
.document-panel--missing {
  padding-left: 1em;
  padding-right: 1em;
  background-color: $color-light-red;
}
.document-panel__header {
  margin-bottom: 0.8em;
  font-weight: bold;
  overflow: hidden;
}
.document-panel__body {
  font-size: 0.8em;
  margin-bottom: 1em;
}
.document-panel__footer {
  display: flex;
  flex-wrap: wrap;
}
.document {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-alt-grey;
  padding: 0.5em 1em;
  @media (max-width: 1199px) {
    padding: 5px 10px;
  }
}
.document:nth-child(even) {
  background: $color-grey;
}
.document__icon {
  font-size: 1.25em;
}
.document__actions {
  margin-left: 0.5em;
  @media (max-width: 1199px) {
    margin-left: 5px;
  }
  font-size: 1.25em;
}
.document__name {
  flex: 1;
  font-weight: bold;
  margin-left: 0.5em;
  @media (max-width: 1199px) {
    margin-left: 5px;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  @include ellipsis();
}
.document__upload-time {
  margin-left: 0.5em;
  @media (max-width: 1199px) {
    margin-left: 5px;
  }
  color: $color-dark-grey;
}
.document__file-upload--invisible {
  display: none;
}
.document__file-upload {
  margin-right: 1em;
}
.document__file-added {
  margin-right: 2em;
  @include ellipsis();
}

