.document-panel {
	padding: 1.5em 1em;
	border-left: 10px solid white;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.document-panel--missing {
	padding-left: 1em;
	padding-right: 1em;
	border-left-color: $brand-danger;
}
.document-panel__header {
	margin-bottom: 0.8em;
	overflow: hidden;
}
.document-panel__body {
	font-size: 0.8em;
	margin-bottom: 1em;
}
.document-panel__footer {
	display: flex;
	flex-wrap: wrap;
}
.document {
	display: flex;
	align-items: center;
	justify-content: center;
	background: $color-alt-grey;
	padding: 0.5em 1em;
	@include respond-to(large_screens_1199) { padding: 5px 10px; }
	&:nth-child(even) { background: $color-grey; }
}
.document__icon { font-size: 1.25em; }
.document__actions {
	margin-left: 0.5em;
	font-size: 1.25em;
	@include respond-to(large_screens_1199) { margin-left: 5px; }
}
.document__name, .document-panel__header { font-weight: bold; }
.document__name {
	flex: 1;
	a {
		text-decoration: none;
		&:hover { text-decoration: underline; }
	}
	@include ellipsis();
}
.document__upload-time, .document__name {
	margin-left: 0.5em;
	@include respond-to(large_screens_1199) { margin-left: 5px; }
}
.document__upload-time { color: $color-dark-grey; }
.document__file-upload--invisible { display: none; }
.document__file-upload { margin-right: 1em; }
.document__file-added {
	margin-right: 2em;
	@include ellipsis();
}
