.form-group { @include clearfix(); }

.form {
	@include media-breakpoint-up(md) {
		.size-xs .form-field { max-width: 120px; }
		.size-s  .form-field { max-width: 240px; }
		.size-l  .form-field { max-width: 100%; }
	}

	.form-required-mark abbr[title] {
		left: -15px;
		position: absolute;
		text-decoration: none;
	}

	label {
		cursor: pointer;
		display: inline-block;
		font-weight: normal;
		position: relative;

		&.required {
			font-weight: bold;
			> abbr { color: $color-very-gray; }
		}
	}

	.form-field {
		display: block;
		min-height: 1px;
		position: relative;
		width: 100%;
	}

	.form-control-label {
		margin-bottom: 0;
		padding-bottom: calc(.5rem - 1px * 2);
		padding-top: calc(.5rem - 1px * 2);
	}

	p.form-field { padding-top: 7px; }
	.form-group.price .form-control { text-align: right; }
	.form-field { max-width: 480px; }
	.has-error .form-field-label { padding-bottom: 7px; }

	.form-control-icon {
		color: $brand-danger;
		height: 38px;
		line-height: 38px;
		margin: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 38px;
	}

	&.has-danger .form-control { padding-right: calc(38px * 1.25); }
	.form-check-input { margin-left: 0; }

	.form-check-hacked {
		> label {
			cursor: default;
			display: block;
		}
	}

	.form-check-label > input { margin-right: .5em; }
	.text-muted { color: $color-very-gray; }
}

.form-inline {
	@include media-breakpoint-up(480px) {
		.form-control-label { max-width: percentage((4 / $grid-columns)); }
		.form-field { max-width: percentage((8 / $grid-columns)); }
		.form-field-label { margin-left: percentage((4 / $grid-columns)); }
	}

	.form-control-label,
	.form-field {
		float: left;
	}

	.form-control-label { padding-right: 1em; }
}

.not-eligible {
	margin-left: 15px;
	margin-top: 10px;
	width: 100%;
}
.situation-changed {
	margin-left: 15px;
}
.other-details {
	margin-left: 0;
}
.situation-changed,
.other-details {
	display: none;
	margin-top: 10px;
	max-width: 240px;
}
.eligibility-radio { display: inline-block; }
.eligibility-radio:not(:first-child) { margin-left: 10px; }

.char-count {
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: -15px;
}

.not-eligibile-plaholder {
	font-size: 14px;
	font-style: italic;
	margin-left: 20%;
	margin-bottom: 20px;
	width: 60%;
}

.not-eligible-op {
	height: auto;
	margin-left: 20%;
	margin-top: 20px;
	width: 60%;
}

.eligibility-radio-op {
	display: inline-block;
	margin-bottom: 10px;
	position: relative;
}

.eligibility-radio-op:nth-of-type(2) { margin-left: 40%; }
.radio-op-label { margin-left: 15px; }

.other-details-op {
	margin-bottom: 30px;
	margin-top: 20px;
	position: relative;
	width: 100%;
}

.other-details-op textarea {
	resize: none;
	width: 100%;
}

.btn-op-container {
	margin-bottom: 20px;
	margin-top: 10px;
	width: 100%;
}
