@import "custom_bootstrap/variables";
@import "custom_bootstrap/mixins";

.form-group {
  @include clearfix();
}

.form {
  .form-required-mark abbr[title] {
    position: absolute;
    left: -15px;
    text-decoration: none;
  }
  label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
    &.required {
      font-weight: bold;
      > abbr {
        color: #888;
      }
    }
  }
  .form-field {
    display: block;
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Default xxs
    width: 100%;
  }
  .form-control-label {
    padding-top: calc(.5rem - 1px * 2);
    padding-bottom: calc(.5rem - 1px * 2);
    margin-bottom: 0;
  }
  p.form-field {
    padding-top: 7px;
  }
  .form-group.price .form-control {
    text-align: right;
  }
  .form-field {
    max-width: 480px;
  }
  @include media-breakpoint-up(md) {
    .size-xs .form-field { max-width: 120px; }
    .size-s  .form-field { max-width: 240px; }
    // Medium is default
    .size-l  .form-field { max-width: 100%; }
  }
  .has-error .form-field-label {
    padding-bottom: 7px;
  }
  .form-control-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    margin: 0;
    color: $brand-danger;
  }
  &.has-danger .form-control {
    padding-right: (38px * 1.25);
  }
  .form-check-input {
    margin-left: 0;
  }
  .form-check-hacked {
    > label {
      display: block;
      cursor: default;
    }
  }
  .form-check-label > input {
    margin-right: 0.5em;
  }
  .text-muted {
    color: #888;
  }
}

.form-inline {
  .form-control-label, .form-field {
    float: left;
  }
  .form-control-label {
    padding-right: 1em;
  }
  @include media-breakpoint-up(480px) {
    .form-control-label { max-width: percentage((4 / $grid-columns)); }
    .form-field         { max-width: percentage((8 / $grid-columns)); }
    .form-field-label   { margin-left: percentage((4 / $grid-columns)); }
  }
}

.form-explanations {
  margin-bottom: 1em;
}
.input-number, .input-price {
  text-align: right;
}
