@import "variables";

.header {
  position: relative;
  @media screen and (min-width: 480px) {
    margin-bottom: 20px;
  }
}

.header__title {
  float: left;
  line-height: 40px;
  padding: 20px 0;
}

.header__logo-anah {
  float: left;
  @media screen and (min-width: 380px) {
    margin-right: 20px;
  }
}

.header__logo-anah-img {
  width: 70px;
  height: 60px;
  @media screen and (min-width: 420px) {
    width: 93px;
    height: 80px;
  }
}

.header__logo-rf {
  float: right;
  width: 191px;
  height: 60px;
  @media screen and (min-width: 420px) {
    width: 255px;
    height: 80px;
  }
  @media screen and (min-width: 440px) {
    margin-left: 20px;
  }
}

