@import "variables";

.header {
  position: relative;
  @media screen and (min-width: 480px) {
    margin-bottom: 20px;
  }
}

.header__title {
  float: left;
  line-height: 40px;
  padding: 10px 0;
  font-size: 1.2em;
  font-weight: normal;
}

.header__logo-anah {
  float: left;
  @media screen and (min-width: 390px) {
    margin-right: 30px;
  }
}

.header__logo-anah-img {
  width: 70px;
  height: 60px;
}

.header__logo-rf {
  float: right;
  width: 191px;
  height: 60px;
  @media screen and (min-width: 460px) {
    margin-left: 30px;
  }
}

