.help__container {
  position: fixed;
  bottom: 0;
  left: 0;
}

.help__button {
  display: inline-block;
  color: white;
  background-color: #E00648;
  width: 66px;
  height: 66px;
  line-height: 66px;
  border-radius: 33px;
  margin-left: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 3px #62042ECC;
  text-align: center;
  font-size: 30px;
  font-weight: bold;

  transition: transform 0.1s, box-shadow 0.1s;

  &:hover, &:active {
    transform: scale(1.15);
    box-shadow: 0px 2px 5px #62042ECC;
  }
  &:focus {
    background-color: #B00648;
  }
}
