.help__container {
	position: fixed;
	bottom: 15px;
	right: 15px;
}
.help__button {
	display: inline-block;
	color: white;
	background-color: $color-steel;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	box-shadow: 0px 2px 4px -1px darken($color-steel, 30);
	line-height: 60px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.2);
	transition: transform 0.1s, box-shadow 0.1s;
	&:hover, &:active {
		transform: scale(1.15);
		box-shadow: 0px 2px 6px -1px darken($color-steel, 30);
	}
	&:focus { background-color: darken($color-steel, 10); }
}

