.homepage { position: relative; }
.homepage__banner { @extend .clearfix; }
.homepage__banner-holder {
	width: 100%;
	padding-top: 18.25%;
	background: image-url('homepage_mosaic_banner_sm.jpg') center center no-repeat;
	background-size: cover;
	background-size: auto 100%;
	background-position: center;
	margin-bottom: 2em;
	@include respond-to(medium_screens_800) {
		float: right;
		width: 50%;
		padding-top: 37.22%;
		background-image: image-url('homepage_mosaic_banner_lg.jpg');
		margin-bottom: 0;
	}
	@include respond-to(large_screens_1020) {
		width: 40%;
		padding-top: 29.77%;
	}
}
.homepage__banner-text {
	padding: 0 1em;
	color: $color-primary;
	font-weight: bold;
	text-align: center;
	@include respond-to(medium_screens_800) {
		float: left;
		width: 50%;
		padding-top: 1em;
	}
	@include respond-to(medium_screens_900) { padding-top: 2em; }
	@include respond-to(large_screens_1020) {
		width: 60%;
		padding-top: 3em;
	}
}
.homepage__text {
	display: inline;
	@include respond-to(medium_screens_800) { display: inline-block; }
}
.homepage__heading1 {
	margin-bottom: 1em;
	font-size: 1.1em;
	@include respond-to(medium_screens_900) {
		font-size: 1.4em;
		line-height: 133%;
	}
	@include respond-to(large_screens_1020) { font-size: 1.5em; }
}
.homepage__heading2 {
	font-size: 1em;
	margin: 1em 0;
	@include respond-to(medium_screens_900) {
		font-size: 1.2em;
		margin: 1.5em 0;
		line-height: 133%;
		.homepage__text { color: $color-primary; }
	}
	@include respond-to(large_screens_1020) { font-size: 1.4em; }
}
.homepage__action {
	padding: 1em 0;
	text-align: center;
	@include respond-to(medium_screens_630) {
		float: left;
		width: 50%;
	}
	@include respond-to(medium_screens_800) {
		float: none;
		width: auto;
	}
	@include respond-to(large_screens_1020) {
		float: left;
		width: 50%;
	}
}
.homepage__action--sign-up > a { width: 80%; }
.homepage__action--sign-in > a { width: 80%; }

