@import "variables";

.homepage {
  position: relative;
}
.homepage__banner-holder {
  width: 100%;
  min-height: 15em;
  background: #ccc image-url('homepage_banner.jpg') center center no-repeat;
  background-size: cover;
  margin-bottom: 1em;
  @media screen and (min-width: 900px) {
    height: 25em;
  }
}
@media screen and (min-width: 900px) {
  .homepage__banner-text {
    position: absolute;
    top: 2em;
    left: 2em;
  }
  .homepage__text {
    display: inline;
    padding: 0 15px;
    background-color: white;
    color: $color-primary;
    font-weight: bold;
  }
}
.homepage__heading1 {
  margin-bottom: 1em;
  @media screen and (min-width: 900px) {
    font-size: 1.5em;
    line-height: 133%;
  }
}
.homepage__heading2 {
  font-size: 1.5em;
  margin: 1em 0;
  .homepage__text {
    display: inline;
  }
  @media screen and (min-width: 900px) {
    font-size: 2.2em;
    line-height: 133%;
    margin: 1.5em 0;
    .homepage__text {
      color: white;
      background-color: $color-primary;
    }
  }
}
.homepage__heading3 {
  @media screen and (min-width: 900px) {
    font-size: 1.5em;
    line-height: 133%;
  }
}
.homepage__actions {
  @media screen and (min-width: 900px) {
    display: flex;
  }
}
.homepage__action {
  padding: 2em 0;
  text-align: center;
  @media screen and (min-width: 900px) {
    width: 50%;
  }
}
.homepage__action-hint {
  margin-top: 1em;
  color: #888;
}

