.imposition-form-footer,
.imposition-form-align-left {
	margin-top: 2em;
}

.imposition-form-cell-price { text-align: right; }
.imposition-form-footer { text-align: center; }
.imposition-form-align-left { text-align: left; }
