.info-point {
	border-color: $color-primary;
	border-radius: 12px;
	border-style: solid;
	border-width: 2px;
	color: $font-color;
	cursor: default;
	display: inline-block;
	height: 22px;
	line-height: 17px;
	margin-left: 5px;
	text-align: center;
	text-decoration: none;
	width: 22px;

	&:hover {
		border-color: $color-grey80;
		color: $color-grey80;
	}
}

.info-point-light {
	border-color: $color-black;
	color: $color-black;

	&:hover {
		border-color: $color-primary;
		color: $color-primary;
	}
}

a.info-point { cursor: pointer; }
