@import "variables";

.inscription {
  position: relative;
  margin: 15px auto 0;
  padding: 0 0 30px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(95, 121, 150, 0.2);
  border: solid 1px #f2f6fa;
  border-radius: 4px;
  &.demandeur, &.projet, &.eligibilite {
    margin-top: 0;
  }
  h2 {
    background-color: #eef1f7;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bold;
    color: $font-color;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    padding: 15px 30px;
  }
  p.chapo {
    padding: 20px 30px 0;
    font-weight: 600;
  }
}
.inscription-legacy {
  input[type="text"], input[type="tel"], input[type=date], textarea {
    border-radius: 3px;
    background-color: #f2f6fa;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    border: solid 1px #909eaf;
    padding: 9px 10px 8px;
    width: 80%;
    &.disabled, &[disabled] {
      background-color: #f2f6fa;
      box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3);
      border: solid 1px #f2f6fa;
      color: #909eaf;
    }
  }

  textarea {
    padding: 10px;
    margin: 10px 30px;
    height: 90px;
  }

  .ins-form {
    margin: 10px 30px;
    li {
      display: inline-block;
      margin-right: -4px;
      width: 50%;
      padding: 10px 0 10px;
    }
    li.full {
      width: 100%;
      input[type="text"] {
        width: 90%;
      }
    }
    li.radio, li.checkbox {
      width: 200px;
      padding-bottom: 0;
      input {
        display: inline-block;
        vertical-align: middle;
      }
      label {
        display: inline-block;
        width: auto;
        margin-left: 5px;
        vertical-align: middle;
      }
    }
    li.checkbox {
      width: 50%;
      &.full {
        width: 100%;
      }
    }
    li label {
      display: block;
      padding: 5px 0;
    }
  }
}

.dem-contact-wrapper {
  .dem-contact {
    li.radio {
      display: block;
      width: auto;
      padding: 0;
      input {
        margin-right: 10px;
      }
    }
  }
}

.checkbox-validation {
  margin: 30px 30px 0;
  input {
    margin-right: 10px;
  }
  label {
    font-weight: bold;
  }
}
.inscription {
  .occupants .occupants-heading {
    border-bottom: 1px solid white;
  }
  .occupants .occupants-recap {
    background: #eef1f7;
    padding: 15px 30px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin: 0;
    li {
      display: inline-block;
      margin-right: 20px;
      span {
        color: #5ab0ee;
      }
      .modified {
        color: $font-color;
        background-color: #dba8bc;
      }
    }
  }
  .occupants .occupant-inline-form {
    width: 80%;
    margin: 30px auto;
  }

  .occ-table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto 0;
    text-align: left;
    th {
      padding: 10px;
    }
    td {
      border: 1px solid #eef1f7;
      padding: 10px;
      input {
        padding: 2px 0;
        font-size: 14px;
        width: 50px;
        text-align: center;
      }
    }
  }
  .projet {
    .chapo {
      display: inline-block;
      padding-right: 5px;
    }
    .ct-years {
      display: inline-block;
      width: 70px;
    }
  }
  .intervenant {
    .chapo {
      font-weight: 400;
    }
    hr {
      width: 80%;
      margin: 25px auto 0;
    }
    .ins-form li {
      width: 100%;
      margin: 10px 0;
      label {
        width: 95%;
        vertical-align: top;
        padding-top: 0;
      }
    }
  }
}

.popin-form {
  .ins-form li.checkbox {
    width: 100%;
    label {
      width: 90%;
      vertical-align: top;
      padding-top: 0;
    }
  }
  .btn {
    display: inline-block;
  }
}

.choose-operator {
  padding: 20px 30px;
  text-align: center;
  @extend .clearfix;
  input[type="radio"] {
    display: none;
  }
  input[type="radio"]:checked + label {
    border-color: $color-primary;
    background-color: #eef1f7;
  }
  label {
    position: relative;
    float: left;
    width: 215px;
    height: 160px;
    margin-left: 30px;
    margin-bottom: 30px;
    border: 1px solid #d2daea;
    border-radius: 10px;
    text-align: center;
    transition: all 200ms ease;
    &:nth-child(6n + 2) {
      margin-left: 0;
    }
    h3 {
      margin-bottom: 10px;
      padding: 5px 20px;
      background-color: #eef1f7;
      border-radius: 10px 10px 0 0;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    }
    p {
      margin: 0 5px;
    }
    .btn {
      position: absolute;
      bottom: 20px;
      left: 50%;
      width: 160px;
      margin-left: -80px;
    }
  }
}
