.login-demo {
  background-color: #e6eaed;
  margin-top: 2em;
  @media screen and (min-width: 1000px) {
    display: flex;
  }
}

.login-demo__subtitle {
  margin: 2em 0 1em;
}

.login-demo__list {
  list-style-position: inside;
}

.login-demo__column {
  padding: 30px;
  @media screen and (min-width: 1000px) {
    width: 50%;
  }
}

.login-demo__table {
  width: 100%;
}
.login-demo__title {
  padding-top: 1em;
  text-align: left;
  color: black;
}
.login-demo__th {
  text-align: left;
  a {
    color: #398439;
    &:hover {
      color: black;
    }
  }
}
