.login, .login-intro { background: $color-light-grey; }
.login {
	box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.2);
	li {
		display: list-item;
		list-style-type: square;
		margin-left: 1em;
	}
}
.login-intro {
	vertical-align: top;
	padding: 30px;
	box-sizing: border-box;
	@include respond-to(medium_screens_820) {
		display: inline-block;
		width: 50%;
	}
}
.login-intro__heading, .login-intro__baseline, .login-intro__baseline-title { text-align: center; }
.login-intro__heading { padding: 10px 0 20px; }
.login-intro__baseline {
	padding: 20px 0 30px;
	font-size: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.login-intro__baseline-title {
	font-size: 25px;
	display: block;
}
.login-intro__p { margin-bottom: 1em; }
.login-intro__a {
	display: inline-block;
	margin-top: 1em;
	color: $color-red-pink-gradient;
	text-decoration: underline;
}

