.login-demo {
	background-color: $color-solitude;
	margin-top: 2em;
	@include respond-to(large_screens_1000) { display: flex; }
}

.login-demo-subtitle { margin: 2em 0 1em; }

.login-demo-column {
	padding: 30px;
	@include respond-to(large_screens_1000) { width: 60%; }
}

@include respond-to(large_screens_1000) {
	.login-demo-column-left { width: 40%; }
}

.login-demo-table { width: 100%; }
.login-demo-title,
.login-demo-th {
	text-align: left;
}

.login-demo-title {
	color: $color-pure-black;
	padding-top: 1em;
}

.login-demo-th {
	a {
		color: $color-deep-green;
		&:hover { color: $color-pure-black; }
	}
}
