.login-demo {
  display: flex;
  background-color: #e6eaed;
  padding: 30px;
}

.login-demo__subtitle {
  margin-top: 15px;
  margin-bottom: 5px;
}

.login-demo__list {
  list-style-position: inside;
}

.login-demo__column-left {
  margin-right: 20px;
}

