.login-fields {
  background: white;
  vertical-align: top;
  box-sizing: border-box;
  @media screen and (min-width: 820px) {
    display: inline-block;
    width: 50%;
  }
}
.login-fields__heading {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.login-fields__heading-projet {
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0 30px 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.login-fields__p {
  margin-bottom: 1em;
  padding: 0 30px;
}
.login-fields__form {
  font-size: 16px;
  margin-top: 30px;
  padding: 25px 30px;
  background: $color-primary;
  color: white;
}

.login-fields__form-projet {
  font-size: 16px;
  padding: 25px 30px 25px 0;
  background: white;
  color: black;
}
.login-fields__input {
  display: block;
  border-radius: 3px;
  background: #f2f6fa;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  border: solid 1px #909eaf;
  padding: 9px 10px 8px;
  width: 80%;
}
.login-fields__label {
  display: inline-block;
  margin-top: 1em;
  font-weight: bold;
  line-height: 32px;
}
.login-fields__label--p {
  display: block;
}
.login-fields__label--first {
  margin-top: 0;
}
.login-fields__proprietaire-input {
  margin-right: 10px;
}
.login-fields__proprietaire-label {
  margin-right: 20px;
}
.login-fields__btn {
  display: table;
  margin: 1em 0 0;
}
.login-fields__mentions {
  margin-top: 1em;
}
.login-fields__mentions-input {
  margin-right: 10px;
}
.login-fields__mentions-label {
  color: #fff;
}
.login-fields__mentions-label-projet{
  color: black;
}
.login-fields__mentions-abbr {
  color: white;
  border-bottom-color: white;
}
.login-fields__mentions-abbr-projet {
  color: black;
  border-bottom-color: white;
}

.login-fields__commentaire {
  color: grey;
}

// .login-fields__link {
//   a {
//   text-decoration: underline;
//   font-weight: bold;
//   &:hover {
//     font-style: italic;
//     }
//   }
// }
