/** VARS **/
/** Variables **/
/* Clearfix */
/** RESET IMPORT **/
/* Reset - Base */
/** VARS **/
/** Variables **/
/* Clearfix */
* {
  outline: none; }

html, body, h1, h2, h3, h4, h5, h6, abbr, acronym, address, article, aside, big,
blockquote, button, cite, code, details, div, dd, dl, dt, em, fieldset, figcaption,
figure, font, footer, form, header, hgroup, input, img, label, legend, nav, p, pre,
section, small, span, select, strong, sub, sup, textarea,
ul, ol {
  margin: 0;
  padding: 0;
  font-style: normal;
  list-style: none;
  font-weight: normal;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #56869a; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%; }

body {
  font-size: 90%;
  line-height: 1.231;
  position: relative;
  overflow-x: hidden; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #353940; }

a:hover {
  text-decoration: none; }

a:focus {
  outline: none; }

abbr[title] {
  border-bottom: 1px dotted; }

strong {
  font-weight: 700; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #dadfea;
  margin: 0;
  padding: 0; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block; }

iframe {
  border: none; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 0; }

legend {
  border: 0; }

label {
  cursor: pointer; }

em {
  font-style: italic; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal;
  outline: none; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  box-sizing: content-box; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

/* Remove tap highlight on iOS */
input, textarea, button, select, a {
  -webkit-tap-highlight-color: transparent; }

/* hide Class */
.none {
  display: none;
  visibility: hidden; }

.masque {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.vnone {
  visibility: hidden; }

/* Placeholder */
input::-webkit-input-placeholder {
  color: #bbb; }

input:-moz-placeholder {
  color: #bbb; }

input::-moz-placeholder {
  color: #bbb; }

input:-ms-input-placeholder {
  color: #bbb; }

/** Main container **/
.main-container {
  width: 100%;
  height: 100%;
  position: relative;
  background: url("../img/background.jpg") 0 0 no-repeat;
  padding: 0 0 50px; }

/** Login **/
.login {
  max-width: 1080px;
  background-color: #ffffff;
  box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.2); }

/** Inscription **/
.inscription input[type="text"], .inscription textarea {
  border-radius: 3px;
  background-color: #f2f6fa;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  border: solid 1px #909eaf;
  padding: 9px 10px 8px;
  width: 80%; }
  .inscription input[type="text"].disabled, .inscription textarea.disabled {
    background-color: #f2f6fa;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    border: solid 1px #f2f6fa;
    color: #909eaf; }

.inscription textarea {
  padding: 10px;
  margin: 10px 30px;
  height: 90px; }

.inscription .ins-header {
  background-color: #eef1f7;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2); }
  .inscription .ins-header h1 img {
    position: absolute;
    width: 70px;
    top: 10px;
    left: 30px; }
  .inscription .ins-header h2 {
    font-size: 29px;
    font-weight: 600;
    font-style: normal;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    padding: 25px 0 25px 150px; }

.inscription .demandeur, .inscription .occupants, .inscription .projet {
  position: relative;
  max-width: 768px;
  margin: 30px auto 0;
  padding: 0 0 30px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(95, 121, 150, 0.2);
  border: solid 1px #f2f6fa;
  border-radius: 4px; }
  .inscription .demandeur h2, .inscription .occupants h2, .inscription .projet h2 {
    background-color: #eef1f7;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bold;
    color: #56869a;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    padding: 15px 30px; }
  .inscription .demandeur .chapo, .inscription .occupants .chapo, .inscription .projet .chapo {
    padding: 20px 30px 0;
    font-weight: 600; }

.inscription .ins-form {
  margin: 10px 30px; }
  .inscription .ins-form li {
    display: inline-block;
    margin-right: -4px;
    width: 50%;
    padding: 10px 0 10px; }
    .inscription .ins-form li.full {
      width: 100%; }
      .inscription .ins-form li.full input[type="text"] {
        width: 90%; }
    .inscription .ins-form li.radio {
      width: 200px;
      padding-bottom: 0; }
      .inscription .ins-form li.radio input {
        display: inline-block;
        vertical-align: middle; }
      .inscription .ins-form li.radio label {
        display: inline-block;
        width: auto;
        margin-left: 5px;
        vertical-align: middle; }
    .inscription .ins-form li label {
      display: block;
      padding: 5px 0; }

.inscription .btn {
  border-radius: 3px;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.5);
  border: solid 1px #86062d;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  padding: 5px 15px 5px 37px;
  background-image: url("../img/add-user.svg");
  background-color: #e7235a;
  background-position: 10px 50%;
  background-repeat: no-repeat;
  transition: all 200ms ease; }
  .inscription .btn:hover {
    background-color: #d9184e; }

.inscription .dem-diff {
  width: 80%;
  padding: 10px 0 15px 6%;
  background: #eef1f7; }

.inscription .occupants .occupants-recap {
  background: #eef1f7;
  padding: 15px 30px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin: 0; }
  .inscription .occupants .occupants-recap li {
    display: inline-block;
    margin-right: 20px; }
    .inscription .occupants .occupants-recap li span {
      color: #5ab0ee; }

.inscription .occupants .btn {
  position: absolute;
  right: 20px;
  top: 10px; }

.inscription .occ-table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto 0; }
  .inscription .occ-table th {
    padding: 10px; }
  .inscription .occ-table td {
    border: 1px solid #eef1f7;
    padding: 10px;
    text-align: center; }
    .inscription .occ-table td input {
      padding: 2px 0;
      font-size: 14px;
      width: 50px;
      text-align: center; }
    .inscription .occ-table td .btn {
      background-image: url("../img/delete.svg");
      position: static;
      font-size: 12px;
      padding: 4px 10px 4px 30px; }

.inscription .projet .chapo {
  display: inline-block;
  padding-right: 5px; }

.inscription .projet .ct-years {
  display: inline-block;
  width: 50px; }

.inscription .validate {
  display: inline-block;
  position: relative;
  left: 50%;
  margin: 30px auto;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #5ab0ee;
  font-size: 16px;
  padding: 16px 20px 16px 45px;
  border: 1px solid #1580cd;
  background-image: url("../img/validate.svg");
  background-position: 15px 50%; }
  .inscription .validate:hover {
    background-color: #43a5ec; }

/** MOBILE IMPORT **/
/** PRINT **/
@media print {
  html, body {
    overflow: visible !important; } }
