.messages__history {
	padding: 1.5em 0;
	margin: 1.5em 0;
	max-width: 40em;
	border-top: 1px solid $color-primary;
	border-bottom: 1px solid $color-primary;
}
.messages__message {
	margin-top: 1em;
	padding-right: 3em;
	&:first-child { margin-top: 0; }
}
.messages__message--mine {
	padding-right: 0;
	padding-left: 3em;
}
.messages__message-informations {
	font-size: 0.8em;
	@extend .clearfix;
}
.messages__fullname, .messages__datetime { display: inline-block; }
.messages__fullname { color: $color-black; }
.messages__message--mine .messages__fullname { color: $color-primary; }
.messages__datetime {
	float: right;
	color: $color-very-gray;
}
.messages__content {
	padding: 1em;
	border-radius: 3px;
	background-color: $color-very-light-gray;
}
.messages__message--mine .messages__content {
	background-color: $color-primary;
	color: white;
}
