@import "variables";

.mises-en-relation__disponibilite {
  margin: 2em 0;
}

.mise-en-relation__contact-info {
  margin-left: 1em;
  font-weight: bold;
  padding-bottom: 2em;
  ul {
    margin-top: 1em;
    font-weight: normal;
  }
}
