.mises-en-relation-disponibilite { margin: 2em 0; }

.mise-en-relation-contact-info {
	font-weight: bold;
	margin-left: 1em;
	padding-bottom: 2em;

	ul {
		font-weight: normal;
		margin-top: 1em;
	}
}
