.new-project {
	background: $color-very-white;
	box-sizing: border-box;
	vertical-align: top;
}

.new-project-label { font-weight: bold; }

.new-project-label {
	display: inline-block;
	line-height: 32px;
	margin-top: 2em;
}

.new-project-label-ib {
	display: inline-block;
}

.new-project-label-p { display: block; }
.new-project-label-first { margin-top: 0; }
.new-project-label-second { margin-bottom: 5px; }

.new-project-proprietaire-input,
.new-project-mentions-input {
	margin-right: 10px;
}

.new-project-proprietaire-label { margin-right: 20px; }

.new-project-btn {
	display: table;
	margin: 1em 0 0;
}

.new-project-mentions { margin-top: 1em; }

.new-project-mentions-label-projet { color: $color-pure-black; }

.new-project-commentaire { color: $color-dark-grey; }

.new-project-links,
.new-project-commentaire {
	margin-bottom: 1em;
}

.new-project-link {
	&:hover {
		color: $color-primary;
		text-decoration: underline;
	}
}
