.occupant-inline-form__title {
	margin-bottom: 1em;
	font-size: 1em;
	font-weight: bold;
}
.occupant-inline-form__fields { @extend .clearfix; }
.occupant-inline-form__field, .occupant-inline-form__submit { float: left; }
.occupant-inline-form__field {
	margin-right: 2em;
	max-width: 210px;
}
.occupant-inline-form__submit { margin-top: 2em; }
