.pagination-wrapper {
	line-height: 30px;
	min-height: 40px;
	padding-bottom: 2em;
	position: relative;
	text-align: center;

	.page-entries {
		left: 0;
		position: absolute;
		top: 0;
	}

	.pagination {
		border-radius: 0;
		display: inline-block;
		margin: 35px 0 0;

		@include respond-to(medium_screens_640) { margin-top: 0; }

		li,
		a {
			display: inline-block;
		}

		li {
			margin-top: 5px;
			@include respond-to(medium_screens_640) { margin-top: 0; }
		}

		a {
			background-color: $color-very-light-gray;
			border: solid 1px $color-transparent-black-1-5;
			border-radius: 3px;
			color: $color-black;
			text-decoration: none;
			width: 30px;
		}

		a:hover {
			background-color: $color-primary;
			color: $color-very-white;
		}

		em.current {
			background-color: $color-primary;
			border: solid 1px $color-transparent-black-1-5;
			border-radius: 3px;
			color: $color-very-white;
			display: inline-block;
			font-style: normal;
			text-decoration: none;
			width: 30px;
		}

		.prev a,
		.next a {
			width: 7em;
		}

		.active a,
		.active a:hover {
			background-color: $color-very-gray;
			color: $color-very-white;
			cursor: default;
			font-weight: bold;
		}

		.disabled {
			a {
				background-color: transparent !important;
				color: $color-dark-dark-gray !important;
				cursor: default;
			}
		}
	}
}

