@import "variables";

.pagination-wrapper {
  position: relative;
  min-height: 40px; // line-height + padding
  line-height: 30px;
  text-align: center;
  padding-bottom: 2em;
  .page-entries {
    position: absolute;
    top: 0;
    left: 0;
  }
  .pagination {
    display: inline-block;
    margin: 35px 0 0;
    border-radius: 0;
    @media (min-width: 640px) {
      margin-top: 0;
    }
    li {
      display: inline-block;
      margin-top: 5px;
      @media (min-width: 640px) {
        margin-top: 0;
      }
    }
    a {
      display: inline-block;
      width: 30px;
      border: solid 1px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      color: #111;
      background-color: #eee;
      text-decoration: none;
    }
    a:hover {
      color: white;
      background-color: $color-primary;
    }
    em.current {
      font-style : normal;
      text-decoration: none;
      display: inline-block;
      background-color: $color-primary;
      width: 30px;
      border: solid 1px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      color: white;
    }
    .prev a, .next a {
      width: 7em;
    }
    .active a, .active a:hover {
      font-weight: bold;
      color: white;
      background-color: #888;
      cursor: default;
    }
    .disabled {
      a {
        color: #aaa !important;
        background-color: transparent !important;
        cursor: default;
      }
    }
  }
}

