.patterns {
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $color-black;
		font-weight: bold;
		margin-bottom: .5em;
		margin-top: 2em;
	}
}

.table-patterns {
	th,
	td {
		min-width: 200px;
		padding: .5em 0;
	}

	code {
		background-color: $color-ghost-white;
		border-radius: .25rem;
		color: $color-brick-red;
		font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
		font-size: 90%;
		padding: .2rem .4rem;
	}
}

