.patterns-icon-list {
	@extend .clearfix;
	color: $color-very-black;
}

.patterns-icon-list-item {
	background-color: $color-very-light-gray;
	float: left;
	height: 6em;
	margin-bottom: 1em;
	margin-right: 1em;
	overflow: hidden;
	padding: 1em .2em;
	text-align: center;
	width: 5.4em;
}

.patterns-icon-list-icon { font-size: 2em; }
.patterns-icon-list-name { font-size: .7em; }
