@import "variables";

.registry__content {
}

.registry__warning {
  background-color: $alert-warning-bg;
  border-color: $alert-warning-border;
  color: $alert-warning-text;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin-bottom: 1em;
}

.registry__entry {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
}
.registry__entry_header {
  display: flex;
  align-items: center;
  background-color: $color-light-grey;
  padding: 1em 2em;
}

.registry__title_header {
  display: flex;
  align-items: center;
  flex: 1;
}
.registry__title {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: $font-color;
}

.registry__actions_header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.registry__action {
  text-decoration: none;
  margin-left: 1em;
}
.registry__action_text {
}
.registry__action_icon {
  margin-left: 0.5em;
}

.registry__details {
  padding: 1em 2em;
}
.registry__status {
  text-decoration: underline;
  margin-bottom: 1em;
}
.registry__beneficiary {
  font-style: italic;
}

.registry__button_group {
  margin: 2em;
}
.registry__add_button {
  text-decoration: none;
}
