@import "variables";

.payment__content {
  @media screen and (min-width: 600px) {
    padding: 0.75em;
  }
  @media screen and (min-width: 920px) {
    padding: 1.25em;
  }
}

.payment__title {
  font-size: 18px;
  font-weight: bold;
  padding: 1em;
}

.payment__button_group {
  padding: 0 1em 1em 1em;
}

.payment__button {
  text-decoration: none;
  margin-top: 1em;
  margin-right: 1em;
}
