.payment-content {
	@include respond-to(medium_screens_600) { padding: .75em; }
	@include respond-to(medium_screens_920) { padding: 1.25em; }
}

.payment-title { margin: 1em 0; }
.payment-button-group { padding: 0 1em 1em; }

.payment-button {
	margin-right: 1em;
	margin-top: 1em;
	text-decoration: none;
}

