.registry-warning,
.registry-entry {
	box-shadow: 0 1px 1px 0 $color-transparent-black-1;
	margin-bottom: 1em;
}

.registry-warning {
	background-color: $alert-warning-bg;
	border-color: $alert-warning-border;
	color: $alert-warning-text;
	padding: 1em;
}

.registry-title-header,
.registry-title,
.registry-actions-header {
	align-items: center;
	display: flex;
}

.registry-title-header { flex: 1; }

.registry-title,
.registry-status {
	font-weight: bold;
}

.registry-title { font-size: 18px; }
.registry-actions-header { justify-content: center; }

.registry-action {
	margin-left: 1em;
	text-decoration: none;
}

.registry-action-icon { margin-left: .5em; }
.registry-details { padding: 1em 2em; }
.registry-status { margin-bottom: 1em; }
.registry-beneficiary { font-style: italic; }
.registry-button-group { margin: 2em auto; }
