.popin-container,
.popin-container-large,
.popin {
	position: fixed;
}

.popin {
	background: $color-transparent-black-4;
	display: none;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.popin-container {
	background: $color-very-light-gray;
	border: 3px solid $color-primary;
	min-height: 286px;
	height: auto;
	left: 50%;
	margin-left: -300px;
	margin-top: -143px;
	padding: 30px;
	top: 50%;
	width: 600px;
}

.popin-container-large {
	background: $color-very-light-gray;
	border: 3px solid $color-primary;
	height: auto;
	mheight: 286px;
	left: 50%;
	margin-left: -300px;
	margin-top: -143px;
	padding: 30px;
	top: 50%;
	width: 600px;
}

.popin-image {
	float: left;
	height: 220px;
	margin-right: 30px;
	width: 245px;
}

.popin-p { margin-top: 1em; }
.popin-p-centered { text-align: center; }

.popin-close,
.popin-confirm {
	margin: 2em auto 0;
}

.popin-confirm { background-color: $color-dark-green; }

#infos-api-particulier-table-container,
#infos-api-particulier-fixed {
	border: 1px solid $color-black-russian;
	display: inline-block;
	height: 210px;

	table {
		thead {
			th {
				background-color: $color-black-russian;
				color: $color-snow;
				min-width: 200px;
			}
		}

		tbody {
			tr {
				min-width: 200px;

				&:nth-child(even) { background-color: $color-very-white; }
				&:nth-child(odd) { background-color: $color-gray92; }
			}
		}
	}
}

#infos-api-particulier-table-container {
	overflow: scroll;
	width: 384px;

	table {
		color: $color-waikawa-gray;

		thead {
			th { text-align: center; }
		}

		tbody {
			tr {
				&:hover td {
					background: $color-steel-metal-blue;
					color: $color-very-white;
				}

				td {
					padding-left: 20px;
					text-align: left;
				}
			}
		}
	}
}

#infos-api-particulier-fixed {
	width: 200px;

	table {
		thead {
			th { text-align: left; }
		}
	}
}
