.public-information {
	p,
	h3 {
		margin: 1em 0;
	}

	h3,
	h4 {
		font-weight: bold;
	}

	h3 { text-decoration: underline; }
	h4 { margin: 1em 0; }

	li {
		list-style-type: square;
		margin-left: 1em;
	}
}
