.registration-menu {
	border-radius: 3px;
	color: $font-color;
	display: flex;
	font-weight: bold;
	margin: .5em 0 1em;

	@include respond-to(medium_screens_640) { padding-top: 1em; }
}

.registration-menu-item-wrapper {
	color: $color-dark-grey;
	display: inline-block;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	text-align: center;
}

.registration-menu-item {
	margin: 0 auto;

	@include respond-to(medium_screens_700) {
		height: 110px;
		width: 110px;
	}
}

.registration-menu-item-active {
	background-color: $color-steel;
	border-radius: 100px;
	color: $color-very-white;
}

.registration-menu-number {
	display: block;
	font-size: 2em;
	line-height: 1.3;

	@include respond-to(mobile_screens_400) { font-size: 2.5em; }

	@include respond-to(medium_screens_700) {
		font-size: 3em;
		padding-top: .1em;
	}
}

.registration-menu-name {
	display: none;

	@include respond-to(medium_screens_700) { display: block; }
}
