@import "variables";

.project-menu {
  background-color: $color-light-grey;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: bold;
  color: $font-color;
  padding: 1em;
  margin-bottom: 1em;
}
.ribbon__top {
  display: flex;
  justify-content: space-between;
}
.ribbon__top_user{
  align-items: center;
}
.ribbon__top_numbers{
  align-items: center;
}

.project-menu__list {
  padding-top: 1em;
}
.project-menu__item {
  float: left;
  margin-left: 10px;
  padding: 5px;
  text-decoration: none;
  color: #888;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: 100ms all;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    float: right;
  }
}
a.project-menu__item {
  color: $color-black;
  &:hover {
    border-color: $color-black;
  }
}
.project-menu__item--active {
  border-color: #888;
}
.project-menu__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  padding: 0 1em;
}

.project-menu__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
}
.project-menu__text--active {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  color: $color-steel;
}
