.section-content {
	@include respond-to(medium_screens_600) { padding: 1.5em; }
	@include respond-to(medium_screens_920) { padding: 2.5em; }
}

.section-content-p,
.content-question {
	margin-bottom: 1em;
}

.section-content-link {
	color: $color-primary;

	&:hover {
		color: $color-black;
		text-decoration: underline;
	}
}
