.section__content {
	@include respond-to(medium_screens_600) { padding: 1.5em; }
	@include respond-to(medium_screens_920) { padding: 2.5em; }
}
.section__content-p, .content__question { margin-bottom: 1em; }
.section__content-link {
	color: $color-primary;
	&:hover {
		text-decoration: underline;
		color: $color-black;
	}
}
