.stats { @extend .clearfix; }

.stats-heading {
	margin-bottom: 1em;
	margin-top: 1.5em;
}

.stats-metric {
	background-color: $color-light-grey;
	border-radius: 3px;
	color: $color-black;
	float: left;
	height: 110px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 10px 5px 0;
	text-align: center;
	width: 140px;

	@include respond-to(large_screens_1110) {
		height: 150px;
		margin-bottom: 30px;
		margin-right: 30px;
		padding-top: 20px;
		width: 170px;
	}

	&:last-child { margin-right: 0; }
}

.stats-metric-value {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.5em;

	@include respond-to(large_screens_1110) { font-size: 42px; }
}

