.stats { @extend .clearfix; }
.stats__heading {
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.stats__metric {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 140px;
	height: 110px;
	padding: 10px 5px 0;
	border-radius: 3px;
	text-align: center;
	color: $color-black;
	background-color: $color-light-grey;
	@include respond-to(large_screens_1110) {
		margin-right: 30px;
		margin-bottom: 30px;
		width: 170px;
		height: 150px;
		padding-top: 20px;
	}
	&:last-child { margin-right: 0; }
}
.stats__metric-value {
	font-size: 24px;
	line-height: 1.5em;
	font-weight: bold;
	@include respond-to(large_screens_1110) { font-size: 42px; }
}

