.suggested-addr {
	border: 2px solid $color-steel;
	border-radius: 5px;
	display: block;
	height: auto;
	margin-top: 2px;
	max-width: 480px;
	position: absolute;
	width: 100%;
	z-index: 100;

	.suggested-addr-list {
		height: 100%;
		position: relative;
		width: 100%;

		li {
			background-color: $color-very-white;
			color: $color-pure-black;
			font-size: 1rem;
			height: auto;
			line-height: 1.25;
			padding: .5rem .75rem;
			position: relative;
			width: auto;

			&:not(:last-child) { border-bottom: 1px solid $color-steel; }

			&:hover {
				font-size: 1.1rem;
				font-weight: bold;
			}
		}

		.li-addr-active {
			background-color: $color-steel;
			color: $color-very-white;
		}
	}
}

.addr-error,
.addr-error:focus {
	border: 2px solid $color-pure-red;
	outline: none !important;
}
