// Variables colors are not used here, 'cause it's supposed to be a stand-alone library
$tc-transparent-white: rgba(255, 255, 255, .5);
$tc-dark-gray: #a5a5a5;
$tc-white: #fff;
$tc-black: #000;
$tc-silver: #bcbcbc;
$tc-gold: #ffd700;
$tc-paris-daisy: #ffff3f;
$tc-orange: #ffa500;
$tc-red: #f00;
$tc-dark-red: #8b0000;
$tc-green: #008000;
$tc-dark-green: #006400;
$tc-blue: #00f;
$tc-dark-blue: #00008b;
$tc-magenta: #f0f;
$tc-purple: #800080;
$tc-pink: #ffc0cb;
$tc-turquoise: #40e0d0;

.simple-tag {
	bottom: 2px;
	display: inline-block;
	font-size: 10px;
	font-weight: italic;
	height: auto;
	margin-bottom: 1px;
	margin-left: 5px;
	padding-left: 3px;
	padding-right: 3px;
	position: relative;
	user-select: none;
	width: auto;
}

.black-tag,
.golden-tag,
.paris-daisy-tag,
.orange-tag,
.red-tag,
.darkred-tag,
.green-tag,
.darkgreen-tag,
.blue-tag,
.darkblue-tag,
.magenta-tag,
.purple-tag,
.pink-tag,
.turquoise-tag,
.silver-tag {
	border: 1px solid $tc-dark-gray;
	border-radius: 5px;
	box-shadow: -1px 2px 10px $tc-transparent-white inset;
}

.black-tag,
.silver-tag,
.red-tag,
.darkred-tag,
.green-tag,
.darkgreen-tag,
.blue-tag,
.darkblue-tag,
.magenta-tag,
.purple-tag,
.pink-tag,
.turquoise-tag {
	color: $tc-white;
}

.golden-tag,
.paris-daisy-tag,
.orange-tag {
	color: $tc-black;
}

.black-tag { background-color: $tc-black; }
.silver-tag { background-color: $tc-silver; }
.golden-tag { background-color: $tc-gold; }
.paris-daisy-tag { background-color: $tc-paris-daisy; }
.orange-tag { background-color: $tc-orange; }
.red-tag { background-color: $tc-red; }
.darkred-tag { background-color: $tc-dark-red; }
.green-tag { background-color: $tc-green; }
.darkgreen-tag { background-color: $tc-dark-green; }
.blue-tag { background-color: $tc-blue; }
.darkblue-tag { background-color: $tc-dark-blue; }
.magenta-tag { background-color: $tc-magenta; }
.purple-tag { background-color: $tc-purple; }
.pink-tag { background-color: $tc-pink; }
.turquoise-tag { background-color: $tc-turquoise; }
