.simpleTag {
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	font-size: 10px;
	font-weight: italic;
	padding-left: 3px;
	padding-right: 3px;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;

	margin-left: 5px;
	margin-bottom: 1px;
	bottom: 2px;
}

.blackTag, .goldenTag, .lemonTag,
.orangeTag, .redTag, .darkredTag,
.greenTag, .darkgreenTag, .blueTag,
.darkblueTag, .purpleTag, .darkpurpleTag,
.pinkTag, .turquoiseTag, .grayTag {
	border: 1px solid #a5a5a5;
	border-radius: 5px;
	box-shadow: -1px 2px 10px rgba(255, 255, 255, 0.5) inset;
}

.blackTag {
	background-color: black;
	color: white;	
}
.grayTag {
	background-color: #bcbcbc;
	color: white;	
}
.goldenTag {
	background-color: #d8b55d;
	color: black;
}
.lemonTag {
	background-color: #ffff3f;
	color: black;
}
.orangeTag {
	background-color: #d17e0a;
	color: black;
}
.redTag {
	background-color: #ff0000;
	color: white;
}
.darkredTag {
	background-color: #7a1c1c;
	color: white;
}
.greenTag {
	background-color: #399b18;
	color: white;
}
.darkgreenTag {
	background-color: #0d4c1c;
	color: white;
}
.blueTag {
	background-color: #177093;
	color: white;
}
.darkblueTag {
	background-color: #09078c;
	color: white;
}
.purpleTag {
	background-color: #a313c6;
	color: white;
}
.darkpurpleTag {
	background-color: #540a66;
	color: white;
}
.pinkTag {
	background-color: #ff6bda;
	color: white;
}
.turquoiseTag {
	background-color: #17e9ed;
	color: white;
}