// Variables colors are not used here, 'cause it's supposed to be a stand-alone library
.simpleTag {
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	font-size: 10px;
	font-weight: italic;
	padding-left: 3px;
	padding-right: 3px;
	-webkit-user-select: none;    
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin-left: 5px;
	margin-bottom: 1px;
	bottom: 2px;
}
.blackTag, .goldenTag, .lemonTag,
.orangeTag, .redTag, .darkredTag,
.greenTag, .darkgreenTag, .blueTag,
.darkblueTag, .purpleTag, .darkpurpleTag,
.pinkTag, .turquoiseTag, .grayTag {
	border: 1px solid #a5a5a5;
	border-radius: 5px;
	box-shadow: -1px 2px 10px rgba(255, 255, 255, 0.5) inset;
}
.blackTag, .grayTag, .redTag, .darkredTag,
.greenTag, .darkgreenTag, .blueTag,
.darkblueTag, .purpleTag, .darkpurpleTag,
.pinkTag, .turquoiseTag { color: white; }
.goldenTag, .lemonTag, .orangeTag { color: black; }
.blackTag { background-color: black; }
.grayTag { background-color: #bcbcbc; }
.goldenTag { background-color: #d8b55d; }
.lemonTag { background-color: #ffff3f; }
.orangeTag { background-color: #d17e0a; }
.redTag { background-color: #ff0000; }
.darkredTag { background-color: #7a1c1c; }
.greenTag { background-color: #399b18; }
.darkgreenTag { background-color: #0d4c1c; }
.blueTag { background-color: #177093; }
.darkblueTag { background-color: #09078c; }
.purpleTag { background-color: #a313c6; }
.darkpurpleTag { background-color: #540a66; }
.pinkTag { background-color: #ff6bda; }
.turquoiseTag { background-color: #17e9ed; }
