.ins-form.transmission-form {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	padding-left: 30px;
	padding-right: 30px;
}

.transmission-subtitle {
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 30px;
}

.ins-form .transmission-list li { width: 100%; }

.transmission-button-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.transmission-button { margin-top: 10px; }

.ins-form .transmission-list {
	list-style-position: inside;
	margin-bottom: 10px;
	margin-top: 5px;
}

.ins-form .transmission-list li {
	display: list-item;
	list-style-type: '–  ';
	margin: 10px 0;
	padding: 0;
}
