.vertical-booleans {
	margin-bottom: 2em;

	.vertical-booleans-title {
		cursor: unset;
		font-weight: bold;
	}

	.form-group { margin-bottom: 0; }

	.form-field-label {
		@extend .clearfix;

		float: left;
		max-width: 100%;
		padding-right: 0;
		width: auto;
	}

	input.boolean { margin-right: .5em; }
}

#select-intervenants {
	.vertical-booleans-title { width: 100%; }
}

.block-intervenants {
	display: inline-block;
	padding: 15px 10px 25px 0;
	vertical-align: top;
	width: 30%;
	word-break: break-all;

	input { margin-right: 5px; }
}
