

<doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
  	<p>Bonjour,</p>

	<p>Afin de finaliser la création de votre compte, veuillez cliquer sur le lien suivant ou copier le dans votre navigateur :</p>

	<p><%= link_to confirmation_url(@resource, confirmation_token: @token), confirmation_url(@resource, confirmation_token: @token) %></p>
    <p>
      |--
      <br/>
      Vous avez un délai de 72 heures pour confirmer votre inscription. Passé ce délai votre compte sera inactivé. Vous pourrez le recréer en saisissant vos numéros fiscaux et références d’avis.
      <br/>
    </p>
    <p>
      |--
      <br/>
      En cas de problème vous pouvez contacter nos services en cliquant sur le lien suivant : <br/>
      <%= link_to root_url + "contacts/new", root_url + "contacts/new" %>
      <br/>
		Cordialement,<br/>
		l'équipe ANAH.
    </p>
  </body>
</html>
