.page-error
  h1.page-error__heading Le site est momentanément indisponible.
  p.page-error__p Veuillez nous excuser pour la gène occasionnée.
  p.page-error__p Nous mettons tout en oeuvre pour rétablir le service le plus rapidement possible.

