.page-error
  h1.page-error-heading Le site est momentanément indisponible.
  p.page-error-p Veuillez nous excuser pour la gène occasionnée.
  p.page-error-p Nous mettons tout en oeuvre pour rétablir le service le plus rapidement possible.

